<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>微团购首页</title>
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link href="/source/modules/groupon/style/css/main.css" rel="stylesheet" />
    <link href="/source/modules/groupon/style/css/dialog.css" rel="stylesheet" />
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    WeixinJSBridge.call('hideToolbar');
});
</script>
    <script src="/source/modules/groupon/style/js/jquery.min.js"></script>
    <script src="/source/modules/groupon/style/js/swipe.js"></script>
    <script src="/source/modules/groupon/style/js/dialog_min.js"></script>
    <script src="/source/modules/groupon/style/js/global.js"></script>
</head>
<body onselectstart="return true;" ondragstart="return false;" class="gbuy_detail">