{template wl_header} 
<div>
    <div id="container" class="container animate">
        <header></header>
        <div class="body">
            <section class="section_pay pay_success">
                <article>
                    <header>
                        <label>
                            <span class="icons icons_success">&nbsp;</span>团购成功
                        </label>
                    </header>
                    <div class="tip">
                        团购券生成可能会有延迟，请耐心等待。<br/>
                        请在有效期内使用团购券！
                    </div>
                </article>

            </section>
        </div>
    </div>
</div>

</body>

</html>