<!doctype HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta name="description" content="Don'touchWhite">
    <meta name="keywords" content="Don'touchWhite">
    <meta name="author" content="Startan">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dont'touchWhite</title>
    <link rel="stylesheet" href="./source/modules/black/template/mobile/css/style.css"/>
</head>
<body>
<div class="main">
    <div class="game-mode">
        <h1><center><img src="./source/modules/black/template/mobile/logo.png"></center></h1>
        <center><div style="font-size:10px;">这是一个玩手指的游戏：千万别点白方块!</div></center><br> <br>
        <div class="button-wr">
           	<!--
            <div class="game-button begin classic" data-mode="classic" >经典模式</div>
            -->
            <div class="game-button begin arcade" data-mode="arcade">开始游戏</div>
            
            <center>  <div style="font-size:10px;"><br><br><br><br><br><br><hr>
     河北建筑大学荣誉出品，<span style="color:#c8c81e"><strong>微信号：hbjgwx</strong></span></div>
</center>
        </div>
    </div>
    <div class="game">
        <canvas id="game-zone" width="" height=""></canvas>
    </div>
    <div class="score">0</div>
  <div class="result">
        <div class="mode"></div>
        <div class="best"><span></span></div>
        <div class="button-wr">
           <!--
            <div class="game-button begin classic" data-mode="classic" >经典模式</div>
            -->
            <div class="game-button begin arcade" data-mode="arcade">重新开始</div>
            
			<div style="    width: 200px;
                            height: 60px;
                            margin: 0 auto 20px;
                            line-height: 30px;
                            vertical-align: middle;
                            color: white;

                            text-align: center;
                            border: 1px solid #FFFFFF;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                            cursor: pointer;
                            text-decoration:none;  " 
            data-mode="arcade"><a href="http://wsq.qq.com/reflow/217254935">截图→晒分数→大比拼<br>点击进入微社区</a></div>
            
            
            <!--
            <div style="    width: 200px;
                            height: 30px;
                            margin: 0 auto 20px;
                            line-height: 30px;
                            vertical-align: middle;
                            color: white;

                            text-align: center;
                            border: 1px solid #FFFFFF;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                            cursor: pointer;
                            text-decoration:none;  " 
            data-mode="arcade"><a href="http://wlh.aidicx.com/wsite/order/list.aspx?token=p22727579&openid=oEI2mt1kjpa9cWjvZQT0BCfk3t_8">点击进入外卖商城</a></div>
            -->
            
			

            <center>  <div style="font-size:10px;"><br>
      河北建筑大学出品 <span style="color:#c8c81e"><strong>微信号：hbjg1950</strong></span></div>
</center>
        </div>
    </div>
</div>
<script src="./source/modules/black/template/mobile/js/zepto.js"></script>
<script src="./source/modules/black/template/mobile/js/createjs.js"></script>
<script src="./source/modules/black/template/mobile/js/white-block.js"></script>

</body>
</html>
