{template 'common/header'}
  
 <div class="catalogList">
<ul>
<p>
</p>
<P>
<h4>欢迎浏览微新星独立全民经纪人...<br />
这里只是前台效果演示；<br />
目前只支持管理员操作全民经纪人后台（目前非常成熟的一套微信房产营销功能）<br />
详情-请移步：<a href="http://bbs.birm.co/thread-2962-1-2.html">http://bbs.birm.co/thread-2962-1-2.html</a><br />
效果演示请移步--微信客户端：扫描下面的二维码：<br />
<img src="http://demo.birm.co/resource/weidongli/images/ewm.jpg" /><br />
点击下面的自定义菜单--功能开发--全民经纪人..<br />
或直接回复关键词‘全民经纪人’...<br/><br/>

（本模块是独立的！需要独立安装一下！<a href="http://bbs.birm.co/thread-2962-1-2.html">详情点击这里！</a>）

 </h4>

</ul>
</div>

{template 'common/footer'}