{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if !$id}class="active"{/if}><a href="{php echo $this->createWebUrl('kefu',array('op'=>'post'));}">添加客服</a></li>	
	<li><a href="{php echo $this->createWebUrl('kefu', array('op'=>'list'))}">客服管理</a></li>	
	{if $id}<li class="active"><a href="{php echo $this->createWebUrl('kefu',array('op'=>'post'));}">编辑客服</a></li> {/if}
</ul>
	<div class="main">
		<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return validate(this);">
			<h4>修改客服人员设置</h4>
			<table class="tb">
				<tr>
					<th><label for="">排序</label></th>
					<td>
						<input type="text" name="listorder" class="span6" value="{$theone['listorder']}" />
					</td>
				</tr>
				<tr>
					<th><label for="">姓名</label></th>
					<td>
						<input type="text" name="kefuname" class="span5" value="{$theone['kefuname']}" />
					</td>
				</tr>
				<tr>
					<th>图片</th>
					<td>
						{php echo tpl_form_field_image('headthumb', $theone['headthumb']);}
					</td>
				</tr>
				<tr>
					<th><label for="">电话</label></th>
					<td>
						<input type="text" name="kefutel" class="span5" value="{$theone['kefutel']}" />
						<span class="help-block">如： 02187651234</span>

					</td>
				</tr>
				<tr>
					<th><label for="">类型</label></th>
					<td>
						<label for="pre_sales" class="checkbox inline"><input type="checkbox" name="pre_sales" value="1" id="pre_sales"  {if $theone['pre_sales'] == 1}  checked="true" {/if} > 售前</label>
						<label for="aft_sales" class="checkbox inline"><input type="checkbox" name="aft_sales" value="1" id="aft_sales" {if $theone['aft_sales'] == 1}  checked="true" {/if}> 售后</label>
					</td>
				</tr>

				<tr>
					<th><label for="">介绍</label></th>
					<td>
						<textarea name="description" class="span6" cols="70">{$theone['description']}</textarea>
					</td>
				</tr>
				<tr>
					<th><label for="">是否显示</label></th>
					<td>
						<label for="istatus1" class="radio inline"><input type="radio" name="status" value="1" id="istatus1" {if $theone['status'] == 1}  checked="true" {/if}> 是</label>&nbsp;&nbsp;&nbsp;
						<label for="isstatus0" class="radio inline"><input type="radio" name="status" value="0" id="isstatus0"  {if $theone['status'] == 0}  checked="true" {/if}> 否</label>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="hidden"  name="id" value="{$theone['id']}" />
						<input type="hidden" name="token" value="{$_W['token']}" />
						<input name="submit" type="submit" value="提交" class="btn btn-primary span3">
					</td>
				</tr>
			</table>
		</form>
    </div>
<script type="text/javascript">
	function validate() {
		if($.trim($(':text[name="kefuname"]').val()) == '') {
			message('必须填写客服姓名.', '', 'error');
			return false;
		}
		if($.trim($(':text[name="headthumb"]').val()) == '') {
			message('必须上传客服图片.', '', 'error');
			return false;
		}
		if($.trim($(':text[name="kefutel"]').val()) == '') {
			message('必须填写客服电话.', '', 'error');
			return false;
		}
		if(!$("#aft_sales").attr('checked') && !$("#pre_sales").attr('checked')) {
			message('请选择客服类型.', '', 'error');
			return false;
		}
		if($.trim($('textarea[name="description"]').val()) == '') {			
			message('必须填写客服简介.', '', 'error');
			return false;			
		}
		return true;
	}
	
	
</script>	
{template 'common/footer'}

