<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
 
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/jQuery.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/bootstrap_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/mini_audio_player/jquery_jplayer_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/mini_audio_player/jquery_mb_miniPlayer.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/daterangepicker/daterangepicker.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/daterangepicker/moment_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/form/jquery_form_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/validation/jquery_validate_min.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/plugins/validation/jquery_validate_methods.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/inside.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/resource2.js?v=2014-05-21"></script>
<script type="text/javascript" src="./source/modules/izc_lightbox/style/src/mulresources.js?v=2014-05-21"></script>
<script type="text/javascript" src="./resource/script/kindeditor/kindeditor-min.js?v=2014-05-21"></script>
<script type="text/javascript" src="./resource/script/kindeditor/lang/zh_CN.js?v=2014-05-21"></script>
<title>高级微场景后台设置</title>
        <!--[if IE 7]>
            <link href="./source/modules/izc_lightbox/css/font_awesome_ie7.css?v=2014-05-21" rel="stylesheet" />
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="./source/modules/izc_lightbox/js/excanvas_min.js?v=2014-05-21"></script>
        <![endif]-->
        <!--[if lte IE 9]>
            <script src="./source/modules/izc_lightbox/js/watermark.js?v=2014-05-21"></script>
        <![endif]-->
    </head>
	<body>
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/bootstrap_min.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/bootstrap_responsive_min.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/todc_bootstrap_button.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/plugins/daterangepicker/daterangepicker.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/style.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/resource.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/themes.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/plugins/mini_audio_player/miniplayer.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./source/modules/izc_lightbox/style/css/inside.css?v=2014-05-21" />
<link rel="stylesheet" type="text/css" href="./resource/script/kindeditor/themes/default/default.css?v=2014-05-21" />
