<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="alert alert-block alert-new">
	<a class="close" data-dismiss="alert">×</a>
	<h4 class="alert-heading">添加博饼活动</h4>
	<table>
		<tbody>
			<tr>
				<th>查看内容</th>
				<td><a href="{php echo $this->createWebUrl('awardlist', array('id' => $reply['rid']))}" target="_blank">查看中奖名单</a></td>
			</tr>
			<tr>
				<th>标题</th>
				<td><input type="text" value="{$reply['title']}" class="span4" name="title" >
					<div class="help-block">显示在网页头中</div>
				</td>
			</tr>
			<tr>
				<th>活动图片</th>
				<td>{php echo tpl_form_field_image('picture', $reply['picture']);}
					<div class="help-block">用于单图文回复的显示 700*300</div>
				</td>
			</tr>
			 <tr>
                <th> 活动时间</th>
                <td>{php echo tpl_form_field_date('start_time', date('Y-m-d H:m', $reply['start_time']), true)}-
				{php echo tpl_form_field_date('end_time', date('Y-m-d H:m', $reply['end_time']), true)}
                 </td>
            </tr>
			<tr>
				<th>手机头图</th>
				<td>{php echo tpl_form_field_image('headpic', $reply['headpic']);}
					<div class="help-block">手机头部广告图 320*80</div>
				</td>
			</tr>
			
			<tr>
				<th>赞助商链接</th>
				<td><input type="text" value="{$reply['headurl']}" class="span4" name="headurl" >
					<div class="help-block">手机头部赞助商链接</div>
				</td>
			</tr>
			
			<tr>
				<th>关注引导</th>
				<td><input type="text" value="{$reply['guzhuurl']}" class="span4" name="guzhuurl" >
					<div class="help-block">关注引导页的链接,强列建议为活动做个推送图文<span style="#f90">不能为空</span></div>
				</td>
			</tr>
			<tr>
				<th>盘子</th>
				<td>{php echo tpl_form_field_image('panzi', $reply['panzi']);}
					<div class="help-block">盘子图 320*320 ,请使用ＰＮＧ２４格式</div>
				</td>
			</tr>
			<tr>
				<th>活动简介</th>
				<td>
					<textarea style="height:150px;" name="description" class="span7" cols="60">{$reply['description']}</textarea>
					<div class="help-block">用于图文显示的简介</div>
					
				</td>
			</tr>
			<tr>
				<th>活动规则</th>
				<td>
					<textarea id="rule" style="height:150px;" name="rule" class="span7" cols="60">{$reply['rule']}</textarea>
					<div class="help-block">活动的相关说明和活动奖品介绍。</div>
				</td>
			</tr>
			
			<tr>
				<th>重复博饼周期</th>
				<td>
					<span class="uneditable-input span7"><input type="hidden" value="1" class="span1" name="periodlottery" >
					每天系统送
						<input type="text" value="{$reply['maxlottery']}" class="span1" name="maxlottery" placeholder="填次数">
						次，每天最大奖励次数
						<input type="text" value="{$reply['prace_times']}" class="span1" name="prace_times" placeholder="填次数">
					</span>
					<div class="help-block">天数为0，永远只能博N次（这里N为设置的次数）。<br />
						也就是用户最终　每天可以摇：系统送+每天最大奖励次数
					</div>
				</td>
			</tr>
			
		</tbody>
	</table>

	
</div>

<script type="text/javascript">
kindeditor($('#rule'));
kindeditorUploadBtn($('#bbb-picture'));

var bbbHandler = {
	'buildAddForm' : function(id, targetwrap) {
		var obj = buildAddForm(id, targetwrap);
		obj.html(obj.html().replace(/\(wrapitemid\)/gm, obj.attr('id')));
	}
};


</script>
