<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="alert alert-block alert-new">
	<a class="close" data-dismiss="alert">×</a>
	<h4 class="alert-heading">添加报名活动</h4>
	<table>
				{if $reply['status']}
					<a id="jinyong" href="{php echo create_url('index/module', array('do' => 'status', 'name' => 'baoming','rid' => $reply['rid'], 'status' => 0))}" onclick="return ajaxopen(this.href)" class="btn btn-primary module-button-switch">禁用</a>
				{else}
					<a id="qiyong" href="{php echo create_url('index/module', array('do' => 'status', 'name' => 'baoming','rid' => $reply['rid'], 'status' => 1))}" onclick="return ajaxopen(this.href);" class="btn btn-danger module-button-switch">启用</a>
				{/if}	
		<tbody>
			<tr>
				<th><a href="{php echo create_url('index/module', array('do' => 'list', 'name' => 'baoming', 'id' => $reply['rid']))}">查看报名测试页面</a></th>
				<td><a href="{php echo create_url('index/module', array('do' => 'baominglist', 'name' => 'baoming', 'id' => $reply['rid']))}">查看已报名名单</a></td>
			</tr>			
			<tr>
				<th>标题</th>
				<td>
					<input type="text" id="" class="span7" placeholder="" name="title" value="{$reply['title']}">
				</td>
			</tr>
			<tr>
				<th>第几期</th>
				<td>
					<input type="text" id="" class="span7" placeholder="" name="qi" value="{$reply['qi']}">
				</td>
			</tr>		
			<tr>
				<th>活动日期</th>
				<td>
					<button style="margin:0;" class="btn span5" id="date-range" type="button"><span class="date-title">{php echo date('Y-m-d', $starttime)} 至 {php echo date('Y-m-d', $endtime)}</span> <i class="icon-caret-down"></i></button>
					<input name="start" type="hidden" value="{php echo date('Y-m-d', $starttime)}" />
					<input name="end" type="hidden" value="{php echo date('Y-m-d', $endtime)}" />
				</td>
			</tr> 
   			
			<tr>
				<th>图片</th>
				<td>
					<div id="" class="uneditable-input reply-edit-cover">
						<div class="detail">
							<span class="pull-right">大图片建议尺寸：640像素 * 320像素</span>
							<input type="button" id="user-picture" fieldname="picture{$namesuffix}" class="btn btn-mini reply-edit-cover-upload" value="<i class='icon-upload-alt'></i> 上传" style="" />
							<button type="button" class="btn btn-mini reply-news-edit-cover-remove" id="upload-delete" onclick="doDeleteItemImage(this, 'user-picture-value')" style="{if empty($reply['thumb'])} display:none;{/if}"><i class="icon-remove"></i> 删除</button>
						</div>
						{if !empty($reply['thumb'])}
						<input type="hidden" name="picture-old" value="{$reply['thumb']}">
						<div id="upload-file-view" class="upload-view">
							<input type="hidden" id="user-picture-value" value="{$reply['thumb']}">
							<img width="100" src="{$_W['attachurl']}{$reply['thumb']}">&nbsp;&nbsp;
						</div>
						{else}
						<div id="upload-file-view"></div>
						{/if}
					</div>
				</td>
			</tr>
			<tr>
				<th>报名简介</th>
				<td>
					<textarea style="height:50px;" name="description" class="span7" cols="60">{$reply['description']}</textarea>
					<div class="help-block">用于图文显示的简介</div>
				</td>
			</tr>   			
			<tr>
				<th>报名表头部图片</th>
				<td>
					<div id="" class="uneditable-input reply-edit-cover">
						<div class="detail">
							<span class="pull-right">大图片建议尺寸：640像素 * 320像素</span>
							<input type="button" id="user-bgimage" fieldname="bgimage{$namesuffix}" class="btn btn-mini reply-edit-cover-upload" value="<i class='icon-upload-alt'></i> 上传" style="" />
							<button type="button" class="btn btn-mini reply-news-edit-cover-remove" id="upload-delete" onclick="doDeleteItemImage(this, 'user-bgimage-value')" style="{if empty($reply['bgimage'])} display:none;{/if}"><i class="icon-remove"></i> 删除</button>
						</div>
						{if !empty($reply['bgimage'])}
						<input type="hidden" name="bgimage-old" value="{$reply['bgimage']}">
						<div id="upload-file-view" class="upload-view">
							<input type="hidden" id="user-bgimage-value" value="{$reply['bgimage']}">
							<img width="100" src="{$_W['attachurl']}{$reply['bgimage']}">&nbsp;&nbsp;
						</div>
						{else}
						<div id="upload-file-view"></div>
						{/if}
					</div>
				</td>
			</tr>
 		</tbody>
	</table>
 </div>
 <link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />
<script type="text/javascript" src="./resource/script/daterangepicker.js"></script>

<script>
$(function() {
	$('#qiyong, #jinyong').click(function () {
	setTimeout("history.go(0)",500);	
	});
	//详细数据相关操作
	var tdIndex;
	$("#table-list thead").delegate("th", "mouseover", function(){
		if($(this).find("i").hasClass("")) {
			$("#table-list thead th").each(function() {
				if($(this).find("i").hasClass("icon-sort")) $(this).find("i").attr("class", "");
			});
			$("#table-list thead th").eq($(this).index()).find("i").addClass("icon-sort");
		}
	});
	$("#table-list thead th").click(function() {
		if($(this).find("i").length>0) {
			var a = $(this).find("i");
			if(a.hasClass("icon-sort") || a.hasClass("icon-caret-up")) { //递减排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-down");
			} else if(a.hasClass("icon-caret-down")) { //递增排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-up");
			}
			$("#table-list thead th,#table-list tbody:eq(0) td").removeClass("row-hover");
			$(this).addClass("row-hover");
			tdIndex = $(this).index();
			$("#table-list tbody:eq(0) tr").each(function() {
				$(this).find("td").eq(tdIndex).addClass("row-hover");
			});
		}
	});
	$('#date-range').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: $(':hidden[name=start]').val(),
        endDate: $(':hidden[name=end]').val(),
        locale: {
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '至',
            weekLabel: '周',
            customRangeLabel: '日期范围',
            daysOfWeek: moment()._lang._weekdaysMin.slice(),
            monthNames: moment()._lang._monthsShort.slice(),
            firstDay: 0
        }
    }, function(start, end){
        $('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
        $(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
        $(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
    });
});
</script>
<script type="text/javascript">
kindeditor($('#rule'));
kindeditorUploadBtn($('#user-picture'));
kindeditorUploadBtn($('#user-bgimage'));



 
</script>