<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="”apple-mobile-web-app-capable”" content="”yes”">
<meta content="telephone=no" name="format-detection"> 
<title>{$bbb['title']}</title>
<link href="./source/modules/mgamblemoon/template/images/style.css" rel="stylesheet" type="text/css">
<style>
body{ background:#04113d ;
 background-size:cover;
 padding:0;
margin:0;
}
body {
	display: block;
	margin: 0;
	padding:0;
	background-size:100% auto;
	background-repeat:no-repeat;
	background-color:rgb(68,0,2);
}
.power-by{ font-size:1.2em; text-align:center; line-height:30px; color:#E9E900;}

</style>
</head>
<body>
<a href="{php echo $this->createMobileUrl('lottery', array('id' => $id))}" style="text-decoration: none"><img src="./source/modules/mgamblemoon/template/images/KiZ49Z9UiY4L9Lmj9JoQmi122mWb62.jpg" width="100%"></a>
<div class="power-by">
	@{$_W['account']['name']}
</div>

<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
	window.shareData = {
		"imgUrl": "{$_W['siteroot']}source/modules/bbb/template/images/d1.png",
		"timeLineLink": "{$_W['siteroot']}{php echo $this->createMobileUrl('ucount', array('id' => $id,'uid' => $myuser['id']))}",
		"sendFriendLink": "{$_W['siteroot']}{php echo $this->createMobileUrl('ucount', array('id' => $id,'uid' => $myuser['id']))}",
		"weiboLink": "{$_W['siteroot']}{php echo $this->createMobileUrl('ucount', array('id' => $id,'uid' => $myuser['id']))}",
		"tTitle": "{$bbb['title']}",
		"tContent": "{$bbb['descriptions']}",
		"fTitle": "{$bbb['title']}",
		"fContent": "{$bbb['descriptions']}",
		"wContent": "{$bbb['descriptions']}"
	};

	// 发送给好友
	WeixinJSBridge.on('menu:share:appmessage', function (argv) {
		WeixinJSBridge.invoke('sendAppMessage', {
			"img_url": window.shareData.imgUrl,
			"img_width": "640",
			"img_height": "640",
			"link": window.shareData.sendFriendLink,
			"desc": window.shareData.fContent,
			"title": window.shareData.fTitle
		}, function (res) {
			_report('send_msg', res.err_msg);
		})
	});

	// 分享到朋友圈
	WeixinJSBridge.on('menu:share:timeline', function (argv) {
		WeixinJSBridge.invoke('shareTimeline', {
			"img_url": window.shareData.imgUrl,
			"img_width": "640",
			"img_height": "640",
			"link": window.shareData.timeLineLink,
			"desc": window.shareData.tContent,
			"title": window.shareData.tTitle
		}, function (res) {
			_report('timeline', res.err_msg);
		});
	});

	// 分享到微博
	WeixinJSBridge.on('menu:share:weibo', function (argv) {
		WeixinJSBridge.invoke('shareWeibo', {
			"content": window.shareData.wContent,
			"url": window.shareData.weiboLink
		}, function (res) {
			_report('weibo', res.err_msg);
		});
	});
}, false);
</script>
</body>
</html>