<!DOCTYPE html><html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<title>实用查询</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="./source/modules/tools/template/mobile/img/weixin.css"/>
<link href="./source/modules/tools/template/mobile/img/weixin_1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./source/modules/tools/template/mobile/img/zepto.js"></script>
<script type="text/javascript" src="./source/modules/tools/template/mobile/img/common3.js"></script>
</head>

<body>
<div class="toollist wid clearfix">
  <ul>
    <li class="torange"><a href="http://m.46644.com/tool/tianqi/?tpltype=weixin" id="tooltq"><span>天气</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/calendar/?tpltype=weixin" id="toolwnl"><span>万年历</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/transit/?tpltype=weixin" id="toolgj"><span>公交地铁</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/train/?tpltype=weixin" id="toollc"><span>火车</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/bus/?tpltype=weixin" id="toolct"><span>长途汽车</span></a></li>
    <li class="torange"><a href="http://m.46644.com/tool/illegal/?tpltype=weixin" id="toolwz"><span>违章查询</span></a></li>
    <li class=""><a href="http://m.zhuna.cn/?agent_id=2763582" id="tooljd"><span>酒店</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/exchange/?tpltype=weixin" id="toolhlcx"><span>汇率查询</span></a></li>
    <li class="tgreen"><a href="http://kaixinhui.net/" id="toolxh"><span>开心汇</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/loan/?tpltype=weixin" id="toolfdjs"><span>房贷计算</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/chepai.php?tpltype=weixin" id="toolcpjc"><span>车牌简称查询</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/express/?tpltype=weixin" id="toolkd"><span>快递</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/aqi/?tpltype=weixin" id="toolpm"><span>空气指数</span></a></li>
    <li class="torange"><a href="http://m.46644.com/tool/idcard/?tpltype=weixin" id="toolsfz"><span>身份证</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/areacode/?tpltype=weixin" id="toolqh"><span>区号</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/tel/?tpltype=weixin" id="tooltel"><span>常用电话</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/shouji/?tpltype=weixin" id="toolsjgsd"><span>手机归属地</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/zipcode/?tpltype=weixin" id="toolyb"><span>邮编</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/unitconvert/?tpltype=weixin" id="tooldwhscd"><span>单位换算</span></a></li>
    <li class=""><a href="http://m.46644.com/mail/?tpltype=weixin" id="toolemail"><span>邮箱助手</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/caipiao/?tpltype=weixin" id="toolcp"><span>彩票开奖</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/tv/?tpltype=weixin" id="tooltv"><span>电视节目</span></a></li>
    <li class=""><a href="http://m.h5le.com/?width=320" id="toolgame"><span>在线游戏</span></a></li>
    <li class=""><a href="http://gou.46644.com/?width=320" id="toolgou"><span>购物</span></a></li>
    <li class="torange"><a href="http://m.wap.soso.com/app/flight/index.jsp?g_ut=3&biz=newHome" id="tooljp"><span>航班查询</span></a></li>
    <li class=""><a href="http://theater.m.mtime.com/" id="tooldyy"><span>影院查询</span></a></li>
    <li class=""><a href="http://m.46644.com/duanxin/" id="toolsmsq"><span>短信大全</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/translate/?tpltype=weixin" id="toolfy"><span>翻译</span></a></li>
    <li class=""><a href="http://wapbaike.baidu.com/" id="toolbkqs"><span>百科全书</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/calculator/?tpltype=weixin" id="tooljsq"><span>计算器</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/car/?tpltype=weixin" id="toolcarlogo"><span>汽车标志大全</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/jieri.php?tpltype=weixin" id="tooljr"><span>节日大全</span></a></li>
    <li class=""><a href="http://m.wap.soso.com/app/stock/index.jsp?g_ut=3&biz=newHome" id="toolgpzs"><span>股票助手</span></a></li>
    <li class=""><a href="http://wap.yikuaiqu.com/?s=46644" id="toollyjd"><span>景点门票</span></a></li>
    <li class=""><a href="http://finance.sina.cn/?sa=t91d36v36&vt=4" id="tooljjcx"><span>基金查询</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/gold/?tpltype=weixin" id="toolhjjg"><span>黄金价格</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/loan/person.php?tpltype=weixin" id="toolgs"><span>个税计算</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/loan/car.php?tpltype=weixin" id="toolcdjs"><span>车贷计算</span></a></li>
    <li class="torange"><a href="http://www.kuaidadi.com/" id="tooltaxi"><span>打车叫的</span></a></li>
    <li class="torange"><a href="http://m.39.net/disease/" id="tooljbcx"><span>疾病查询</span></a></li>
    <li class=""><a href="http://3g.yao.xywy.com/" id="toolypdq"><span>药品大全</span></a></li>
    <li class=""><a href="http://m.120ask.com/baojian/" id="toolys"><span>养生之道</span></a></li>
    <li class=""><a href="http://m.guahao.com/" id="toolgh"><span>网上挂号</span></a></li>
    <li class=""><a href="http://3g.sina.com.cn/dpool/monthj/monthj.php?vt=4" id="toolcycq"><span>测预产期</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/pregnant/?tpltype=weixin" id="toolcaqq"><span>测安全期</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/astro/myastro.php?tpltype=weixin" id="toolxzcx"><span>星座查询</span></a></li>
    <li class=""><a href="http://dp.sina.cn/dpool/astro/jm/?pos=63&vt=4" id="toolzgjm"><span>周公解梦</span></a></li>
    <li class=""><a href="http://dp.sina.cn/dpool/astro/starent/xingyun.php?pos=63&vt=4" id="toolxzys"><span>今日运势</span></a></li>
    <li class="torange"><a href="http://dp.sina.cn/dpool/astro/ast_guide/guide.php?g_type=5&vt=4" id="toolxmcs"><span>姓名八字</span></a></li>
    <li class=""><a href="http://dp.sina.cn/dpool/astro/ast_guide/guide.php?g_type=1&pos=63&vt=4" id="toolxgcs"><span>性格解析</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/pair/?tpltype=weixin" id="toolqlsp"><span>星座速配</span></a></li>
    <li class=""><a href="http://dp.sina.cn/dpool/astro/hdjr/?pos=63&vt=4" id="toolhl"><span>黄历查询</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/loan/housetax.php?tpltype=weixin" id="toolfangshui"><span>房税计算</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/pair/shengxiao.php?tpltype=weixin" id="toolsxpdlogo"><span>生肖速配</span></a></li>
    <li class="torange"><a href="http://ast.sina.cn/?sa=t282d771v166&pos=63&vt=4" id="tooltlzb"><span>塔罗占卜</span></a></li>
    <li class=""><a href="http://m.h5le.com/?width=320" id="toolyx"><span>游戏</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/silver/?tpltype=weixin" id="toolbyzs"><span>白银价格</span></a></li>
    <li class=""><a href="http://m.46644.com/todayhistory/?tpltype=weixin" id="tooltdlogo"><span>历史上的今天</span></a></li>
    <li class="tgreen"><a href="http://m.46644.com/tool/pair/xuexing.php?tpltype=weixin" id="toolqlsp"><span>血型速配</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/shengxiao/?tpltype=weixin" id="toolsesx"><span>十二生肖</span></a></li>
    <li class=""><a href="http://dp.sina.cn/dpool/astro/top/index.php?type=1&pos=63&vt=4" id="toolxlcs"><span>心理测试</span></a></li>
    <li class="tgreen"><a href="http://m.meimingteng.com/m/qiming.aspx" id="toolzxqm"><span>在线取名</span></a></li>
    <li class=""><a href="http://d.tiantiantiao.com/item.aspx" id="toolcjcx"><span>菜价查询</span></a></li>
    <li class=""><a href="http://m.meishij.net/html5/" id="toolcpms"><span>菜谱美食</span></a></li>
    <li class=""><a href="http://wap.10086.cn/index.jsp" id="toolzgyd"><span>移动营业厅</span></a></li>
    <li class="torange"><a href="http://www.189.cn/wap/" id="toolzgdx"><span>电信营业厅</span></a></li>
    <li class=""><a href="http://mob.10010.com/" id="toolzglt"><span>联通营业厅</span></a></li>
    <li class=""><a href="http://m.soufun.com/" id="toolzfxx"><span>租房信息</span></a></li>
    <li class=""><a href="http://m.46644.com/tool/lowerupper.php?tpltype=weixin" id="tooldxx"><span>数字大写转换</span></a></li>
      
  </ul>
</div>
<div class="clear"></div>
<div id="foot" class="wid">
  <p>合作咨询：0755-61910103 技术提供：<a href="http://bbs.b2ctui.com"><font color=#333333>微动力</font></a></p>
</div>
<script type="text/javascript">
var wjs = (typeof(Xuan.HttpRequest) == 'undefined') ? '1' : '';
document.write('<script type="text\/javascript" src="js/e3e0b93748ba43d09478ac084312b854.js'+ wjs +'.js"><\/script>');
if($("weather")){document.write('<script type="text\/javascript" src="js/109edff7897341278cc4ae4c31a1da23.js'+ wjs +'.js?width=320" charset="gb2312"><\/script>');}
</script>
</body>
</html>