<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>信息助手</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="./source/modules/sharevote/template/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="./source/modules/sharevote/template/js/jquery.mobile-1.3.2.min.js"></script>

    <link href="./source/modules/sharevote/template/css/jquery.mobile.flatui.min.css" type="text/css" rel="stylesheet">
    <link href="./source/modules/sharevote/template/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div data-role="page"  data-fullscreen="true">

    <div data-role="content">
        <form data-ajax="false" action="{php
         echo create_url('index/module', array('do' => 'report', 'name' => 'sharevote','item'=>$item,'itemid'=>$itemid))}" method="POST" onsubmit="return checkForm()">
        <textarea placeholder="输入举报理由" name="content" class="content" style="height:200px;"></textarea>
         <input type="submit" value="提交"/>
        </form>
    </div>
    <div data-role="popup" id="report-pop"  data-position-to="window"  data-overlay-theme="a" style="width:150px;background: #ffffff;border: 1px solid #696969" data-theme="a"  class="ui-corner-all">
        <font style="color:#696969;display: block;text-align: center;vertical-align: middle;padding-top:50px;padding-bottom:50px;font-weight: bolder"> 提交成功！</font>
    </div>
    <div data-role="popup" id="content-pop"  data-position-to="window"  data-overlay-theme="a" style="width:150px;background: #000000" data-theme="a"  class="ui-corner-all">
        <font style="color:white;display: block;text-align: center;vertical-align: middle;padding-top:10px;padding-bottom:10px;"> 举报理由不能为空！</font>
    </div>

    {if $hasReport == 'true'}
        <script>
            $(function(){
                $('#report-pop').popup();
                $('#report-pop').popup('open');
                setTimeout(function(){
                    $('#report-pop').popup('close');
                },2000);
            })
        </script>
    {/if}
    <script>
        $(function(){});
        function checkForm(){
            if($('.content')[0].value == ''){
                $('#content-pop').popup();
                $('#content-pop').popup('open');
                setTimeout(function(){
                    $('#content-pop').popup('close');
                },2000);
                return false;
            }
            return true;
        }
    </script>
</div>

</body>
</html>