body{color:#fff;font-family:microsoft yahei}
.wrap{width:640px;/*display:none;*/overflow:hidden;position:relative}
.wrap a.more{display:block;height:55px;width:35px;background:url(../images/more.png);right:16px;top:0}
.wrap .title{height:55px;line-height:55px;background:#fd888e;font-size:14pt;font-weight:bold}
.wrap .title h2{text-indent:18px}
.wrap .top span.back-btn,.wrap .title div.nav-btn{display:block;height:55px;position:absolute;top:0;cursor:pointer}
.wrap .top span.back-btn{width:45px;background:url(../images/back.png);left:18px}
.wrap .top div.nav-btn{position:absolute;width:35px;background:url(../images/nav_btn.png);right:18px}
.wrap .top ul{right:-18px;top:55px;z-index:20;display:none}
.wrap .top ul li{width:140px;background:rgba(00,00,00,0.5);padding:0 0.5em;height:55px;line-height:55px;border-top:solid 1px #fff;}
.wrap .top ul li a{color:#fff}

.wrap .logo{width:100%;height:150px;line-height:150px;background:#f4f4f4}

.wrap ul.nav li{width:20%;height:19px;padding:17px 0;float:left;display:inline}
.wrap ul.nav li a{display:block;border-right:solid 2px #fff;text-align:center;color:#fff;height:19px;line-height:19px;overflow:hidden}
.wrap ul.nav li a.last{border-right:solid 1px #fd888e}

.wrap .banner ul li{float:left;display:inline;height:360px}
.wrap .banner ul li img{width:100%;height:100%}
.wrap .banner .focus{height:16px;line-height:16px;padding:16px 0;width:100%;bottom:0;}
.wrap .banner .focus span{display:block;right:8px}
.wrap .banner .focus span a{display:block;width:16px;height:16px;background:#646464;margin-right:18px;float:left;display:inline;-moz-border-radius:50%;-webkit-border-radius:50%;-o-border-radius:50%;border-radius:50%;cursor:pointer}
.wrap .banner .focus span a.current{background:#fff}

.wrap .products li{height:290px;margin-top:10px;border-bottom:dashed 1px #888;float:left;display:inline;margin-bottom:8px}
.wrap .products li img,.wrap .list li img{width:196px;height:240px}
.wrap .products li h4,.wrap .products li h6{color:#888;font-size:13pt;height:24px;line-height:24px;overflow:hidden}
.wrap .products li h6{font-size:15pt;height:18px;line-height:18px;text-align:left;margin-bottom:4px}
.wrap .products li h6 span{font-size:12pt;position:relative;bottom:0;margin-right:5px}

.wrap .list li{width:410px;height:240px;position:relative;color:#aaa;border-bottom:dashed 1px #888;padding:10px 0 10px 230px}
.wrap .list li img,.wrap .news li img{position:absolute;left:0;top:10px}
.wrap .list li h4{height:42px;line-height:42px}
.wrap .list li h4 a{color:#888;font-size:14pt}
.wrap .list li p{height:132px;line-height:22px;margin-top:10px;overflow:hidden}
.wrap .list li h6{position:absolute;left:230px;bottom:10px;width:104px;height:30px;line-height:30px;background:#fd888e;text-align:center;color:#fff}

.wrap .news li{width:400px;padding-left:240px;height:150px}
.wrap .news li p{height:107px;margin-top:0}
.wrap .news li img{width:205px;height:150px}

.wrap form.book{color:#666}
.wrap form.book a.submit-btn{display:block;color:#fff;cursor:pointer}
.wrap form.book div.info,.wrap form.book p{width:604px;background:#eaeaea;height:55px;line-height:55px;margin-top:10px;padding:0 18px;font-size:14pt}
.wrap form.book div.info{height:126px;padding:10px 18px;line-height:42px}
.wrap form.book div.info h4 span{color:#fd888e}
.wrap form.book div.info h4.num span,.wrap form.book div.info h4.num input{display:block;width:40px;height:40px;float:left;margin-right:12px;background:#fff;line-height:40px;cursor:pointer;color:#666;text-align:center;border:none}
.wrap form.book input.name,.wrap form.book input.mobile{width:500px;padding:10px;margin-left:20px;color:#999;border:solid 1px #eaeaea;margin-top:-5px;font-size:14pt}

.wrap .content h2{font-size:16pt;height:45px;line-height:45px;color:#000}
.wrap .content h6{color:#828282;height:30px;line-height:30px;border-bottom:solid 1px #888}
.wrap .content .article{color:#8a898a;line-height:23px;padding:10px 0}
.wrap .content .article img{margin-bottom:10px}

.wrap .pro-detail a.book-btn{display:block;color:#fff;cursor:pointer}

.wrap .links li{float:left;display:inline;height:40px;line-height:40px;background:#c46ab1;margin-top:8px;margin-bottom:8px;font-size:14pt}
.wrap .links li a{color:#fff}

.wrap .footer{height:50px;background:#fd888e;padding-top:10px;width:640px}
.wrap .footer p.phone{height:30px;line-height:30px;font-size:14pt;margin-bottom:12px}
.wrap .footer p.copyright,.wrap .footer p.support{height:22px;line-height:22px;color: white;font-size: 14pt;}