<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="微信">
<title>活动已结束</title>
<link type="text/css" rel="stylesheet" href="./source/modules/slotmac/template/css/activity.css" />
</head>

<body class="activity-scratch-end">
    <div class="main">
	    <div class="banner">
            <img src="./source/modules/slotmac/template/img/chance-end.png">
        </div>
        <div class="content" style="margin-top:10px">
            <div class="boxcontent">
                <div class="box">
                    <div class="title-red">机会已用完说明：</div>
                    <div class="Detail">
                        <p> 亲，您今日的机会用完了，明天再来吧。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
