@charset "gb2312";

/* CSS Document */

/*reset-style*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}

body,button,input,select,textarea{font-family:'微软雅黑','宋体'; font-size:14px; color:#666;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

fieldset, img { border:none; }

/*img{display: block;}
*/
ul,ol{ list-style:none; }

a{ color:#666; text-decoration:none; outline:none; }

a:visited { color:#666; }

a:hover, a:active, a:focus { color:#ff8400; text-decoration:none; }

.color_m{ color:#e4007f;}



/*start@bd_top*/

.bd_auto{ width:960px; margin:0 auto; overflow:hidden;}

#bd_top{ width:100%; height:120px; background-color:#fff; -webkit-box-shadow:0 3px 5px rgba(0,0,0,.2);box-shadow:0 3px 5px rgba(0,0,0,.2); position:fixed; top:0; z-index:100; _position:absolute;}

#bd_top h1{ float:left; padding-left:35px; padding-top:36px;}

.bd_top_r{ float:right; width:355px; height:70px; padding-top:50px; overflow:hidden; position:relative;}

.laifacai{ position:absolute; right:0; top:36px;}

.bd_top_r_01{ float:left; width:188px; height:34px; padding-left:42px; background:url(../images/bd_top_r_01bg.png) no-repeat; line-height:34px; font-size:24px; color:#0075c1;}

.bd_top_r span{ float:left; width:34px; height:34px; margin-left:10px; overflow:hidden; position:relative;}

.bd_top_r span a{ display:block; width:34px; height:34px; position:absolute; top:0; background:url(../images/icon_weibo.png) no-repeat; position:absolute;}

.bd_top_r span a.weibo_01{ background-position:0 0;}

.bd_top_r span a.weibo_02{ background-position:-34px 0;}

.bd_top_r span a.weibo_01:hover{ background-position:0 -34px;}

.bd_top_r span a.weibo_02:hover{ background-position:-34px -34px;}

/*end@bd_top*/



/*start@bd_banner*/

.fixed_bg{ height:560px; position:fixed; _position:absolute; top:120px; width:100%; background:url(../images/banner_bg.jpg) no-repeat center top #000; z-index:-1; }

.bd_banner_02{ width:502px; height:560px; position:absolute; bottom:0; right:35px; background:url(../images/bd_bannerphone.png) no-repeat left top;}



#bd_banner{ margin-top:120px;height:560px;}

#bd_banner .bd_auto,.fixed_bg .bd_auto{ position:relative; height:560px;}

.bd_banner_01{ width:350px; height:230px; position:absolute; top:188px; left:45px;}

.bd_banner_01 p{ color:#fff; font-size:16px; line-height:24px; margin-bottom:5px;}

.bd_banner_01 p a{ margin-top:20px; display:inline-block; width:221px; height:60px; background:url(../images/bd_bannerbtn_01.png) no-repeat;}

.bd_banner_01 p a:hover{ background:url(../images/bd_bannerbtn_02.png) no-repeat;}

/*end@bd_banner*/



/*start@bd_nav*/

.out_bd_nav{ height:60px; background:#fff;}

#bd_nav{ width:100%; height:60px; background:url(../images/bd_nav_bg.png) repeat-x; overflow:hidden;}

.show_bd_nav{ position:fixed; top:60px; z-index:50;}

#bd_nav .bd_auto{ position:relative; z-index:9; height:60px;}

#bd_nav li{ float:left; line-height:60px; color:#fff; margin-left:40px; margin-right:30px;  _display:inline; cursor:pointer;}

#bd_nav li a{ display:block; color:#fff;}

#ul_nav li.back{ margin-left:5px; margin-top:15px; border: 1px solid #fff; height: 30px; position: absolute; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; z-index:-1;}

/*end@bd_nav*/



/*start@bd_subnav*/

#bd_subnav{ width:100%; height:59px; border-bottom:1px solid #c4c4c4; position:fixed; top:0; display:none; background:#fff; z-index:9; _position:absolute; -webkit-box-shadow:0 3px 5px rgba(0,0,0,.2);box-shadow:0 3px 5px rgba(0,0,0,.2);}

#bd_subnav .title{ padding:13px 35px; float:left;}

.bd_subnav_r{ float:right; height:34px; padding-top:13px; padding-right:35px; width:320px;}

.bd_subnav_r span{ float:right; height:34px; width:34px; margin-left:10px;}

.bd_subnav_r span.span_tel{ width:0; font-size:24px; color:#0075c1; overflow:hidden;}

.bd_subnav_r span a{ display:inline-block; width:34px; height:34px; background:url(../images/bd_top_r_01bg.png) no-repeat;}

.bd_subnav_r span a.span_phone{ background-position:0 0;}

.bd_subnav_r span a.span_list{ background-position:0 -34px;}

/*end@bd_subnav*/



/*start@bd_cont_01*/

#bd_cont_01{ width:100%; height:610px; background-color:#fff;}

#bd_cont_01 .title{ padding-top:78px; height:68px; font-size:36px; color:#000; text-align:center;}

#bd_cont_01 .title span{ color:#e4007f;}

#bd_cont_01 p.cont_p1{ height:142px; line-height:22px; text-align:center;}

.cont_01_text{ height:158px; background:url(../images/cont_01_textbg.png) no-repeat center 0; overflow:hidden;}

.cont_01_text span{ color:#e4007f; float:left;}

span.cont_01_span1{ padding-top:36px; padding-left:182px;}

span.cont_01_span2{ padding-top:26px; padding-left:200px;}

span.cont_01_span3{ padding-top:26px; padding-left:206px;}

.cont_01_text02{ height:150px; background:url(../images/cont_01_text02bg.png) no-repeat 445px 18px;}

.cont_01_text02 p{ line-height:36px;}

.cont_01_text02 p strong{ font-size:32px; color:#e4007f;}

.text02_l,.text02_r{ float:left; width:480px; padding-top:10px;}

.text02_l p{ padding-right:56px; text-align:right;}

.text02_r p{ padding-left:75px;}

/*end@bd_cont_01*/



/*start@bd_cont_02*/

#bd_cont_02{ width:100%; height:371px; background:url(../images/bd_cont_02bg.png) no-repeat center top #0075c1;}

#bd_cont_02 .title{ height:55px; color:#fff; font-size:32px;}

#bd_cont_02 p{ line-height:22px; color:#fff; padding-bottom:10px;}

#bd_cont_02 b{ line-height:50px; font-size:32px; color:#fffe9b;}

.cont_02_l{ padding-top:75px; padding-left:75px; width:330px; float:left;}

.cont_02_r{ width:320px; height:296px; padding-top:75px; padding-right:75px; float:right; background:url(../images/cont_02_rbg.png) no-repeat right 200px;}

/*end@bd_cont_02*/



/*start@freeinhere_nav*/



.freeinhere_nav{ width:170px; height:200px; border:1px solid #c4c4c4; position:fixed; right:5px; top:50%; margin-top:-200px; _position:absolute; display:none;}

.freeinhere_nav li{ cursor:pointer; height:39px; line-height:39px; text-align:center; background:#afafaf; color:#fff; border-bottom:1px solid #c4c4c4;}

.freeinhere_nav li.current{ background:#fff; color:#666;}

/*end@freeinhere_nav*/



/*start@freeinhere*/

#freeinhere{ width:100%; height:auto; overflow:hidden; background-color:#fff;}

.freeinhere_head{ padding-left:32px; height:260px;}

.freeinhere_head .title{ height:116px; line-height:116px; padding-top:50px; font-size:36px; color:#000;}

.freeinhere_head .title b{ color:#e4007f;}

.freeinhere_head p{ width:520px; line-height:22px;}

#part_001{ padding-left:35px; height:500px; padding-top:40px; background:url(../images/part_001bg.jpg) no-repeat 500px 10px;}

.part_tit{ width:137px; height:76px; padding-top:86px; padding-left:25px; background:#e4007f; color:#fff;}

.part_tit .title{ font-size:18px;}

.part_tit .title strong{ font-size:30px;}

.h3_pt{ padding-top:44px; height:46px; font-size:22px; font-weight:normal;}

p.p_pt{ width:400px; line-height:22px;}

.li_pt{ height:80px; padding-left:62px; font-size:24px; line-height:48px; background:url(../images/li_ptbg.png) no-repeat; margin-top:30px;}

.li_pt span{ color:#e4007f;}

#part_002{ height:600px; padding-top:50px; padding-left:555px; background:url(../images/part_002bg.png) no-repeat 20px 40px;}

#part_002 .li_pt{background:url(../images/li_ptbg2.png) no-repeat;}

#part_003{ padding-left:35px; height:600px; padding-top:40px; background:url(../images/part_003bg.png) no-repeat 536px 23px;}

#part_003 .li_pt{background:url(../images/li_ptbg3.png) no-repeat;}

#part_004{ height:560px; padding-top:40px; padding-left:555px; background:url(../images/part_004bg.png) no-repeat 23px 24px;}

#part_004 p.p_pt{ width:376px;}

#part_004 .li_pt{background:url(../images/li_ptbg4.png) no-repeat;}

#part_005{ padding-left:35px; height:480px; padding-top:40px; background:url(../images/part_005bg.jpg) no-repeat 475px 27px;}

/*end@freeinhere*/



/*start@bd_cont_04*/

#bd_cont_04{ width:100%; height:450px; background:#0075c1;}

#bd_cont_04 .title{ position:absolute; top:70px; left:35px; font-size:32px; color:#fff; z-index:7; }

#bd_cont_04 .bd_auto{ height:450px; position:relative;}

ul.teb_out li{ width:960px; height:450px; overflow:hidden; display:none;}

ol.ol_li{ position:absolute; bottom:40px; left:35px;}

ol.ol_li li{ cursor:pointer; width:12px; height:12px; border:4px solid #fff; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; overflow:hidden; float:left; margin-right:10px;}

ol.ol_li li.current{background:#00a9f9;}

.teb_out_l{ float:left; padding-left:35px; padding-top:166px; width:320px;}

.teb_out_l .title1{ height:46px; font-size:24px; color:#fffe9b;}

.teb_out_l p{ color:#fff; line-height:22px;}

.teb_out_r{ float:right; width:595px; height:450px; overflow:hidden;}

/*end@bd_cont_04*/



/*start@bd_cont_05*/

#bd_cont_05{ width:100%; height:758px; background-color:#fff;}

.build_head{ height:110px; padding-top:113px;}

.build_head .title{ float:left; padding-left:35px; color:#000; font-size:36px;}

.build_head .title span{ color:#e4007f;}

.build_head ol{ float:right; height:40px; margin-right:35px; _display:inline;}

.build_head ol li{ cursor:pointer; float:left; margin-left:20px; width:36px; height:36px; line-height:36px; text-align:center; border:2px solid #0075c1; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; color:#0075c1; font-size:24px;}

.build_head ol li:not(.current){

	-webkit-animation:animations 1s ease-out infinite alternate;

	-moz-animation:animations 1s ease-out infinite alternate;

	-o-animation:animations 1s ease-out infinite alternate;

	-ms-animation:animations 1s ease-out infinite alternate;

	animation:animations 1s ease-out infinite alternate;

}

@-webkit-keyframes animations{

	from {-webkit-box-shadow:0px 0px 10px rgba(0, 117, 193, 1);}

	to {-webkit-box-shadow:0px 0px 10px rgba(0, 117, 193, 0);}

}

@-moz-keyframes animations{

	from {-moz-box-shadow:0px 0px 10px rgba(0, 117, 193, 1);}

	to {-moz-shadow:0px 0px 10px rgba(0, 117, 193, 0);}

}

@-o-keyframes animations{

	from {-o-box-shadow:0px 0px 10px rgba(0, 117, 193, 1);}

	to {-o-box-shadow:0px 0px 10px rgba(0, 117, 193, 0);}

}

@-ms-keyframes animations{

	from {-ms-box-shadow:0px 0px 10px rgba(0, 117, 193, 1);}

	to {-ms-box-shadow:0px 0px 10px rgba(0, 117, 193, 0);}

}

@keyframes animations{

	from {box-shadow:0px 0px 10px rgba(0, 117, 193, 1);}

	to {box-shadow:0px 0px 10px rgba(0, 117, 193, 0);}

}



.build_head ol li.current{ background:#0075c1; color:#fff;}

.build_cont{ height:535px; overflow:hidden;}

.build_cont span{ float:left; width:25px; height:325px; padding:210px 5px 0 5px; display:block;}

.build_cont span a{ display:block; width:20px; height:44px; opacity:.6;}

.build_cont span a.build_goleft{ background:url(../images/build_go.png) no-repeat; overflow:hidden; }

.build_cont span a.build_goright{ float:right; background:url(../images/build_go.png) no-repeat -20px 0; overflow:hidden; }

.ul_outwrap{ width:890px; height:535px; float:left; overflow:hidden; position:relative;}

#bd_cont_05 ul.build_ul{ width:2670px; overflow:hidden; position:absolute; left:0;}

ul.build_ul li{ width:890px; height:535px; float:left; overflow:hidden;}

ul.build_ul dl{ width:320px; height:425px; padding-left:570px; padding-top:110px;}

ul.build_ul li dt{ color:#000; font-size:30px; line-height:50px; padding-bottom:24px;}

ul.build_ul li dt b{ font-size:60px; font-weight:normal;}

ul.build_ul li dd{ height:34px; line-height:34px; padding-left:22px; font-size:18px; background:url(../images/build_ddbg.png) no-repeat 0 center;}

ul.build_ul dl.build_dl_01{ background:url(../images/build_dl_01bg.png) no-repeat;}

ul.build_ul dl.build_dl_02{ background:url(../images/build_dl_02bg.png) no-repeat 0 60px;}

ul.build_ul dl.build_dl_03{ background:url(../images/build_dl_03bg.png) no-repeat 0 30px;}

/*end@bd_cont_05*/



/*start@bd_cont_06*/

#bd_cont_06{ width:100%; height:770px; background-color:#fff;}

#bd_cont_06 ul.build_ul{ width:3560px; overflow:hidden; position:absolute; left:0;}

ul.build_ul p{ width:210px; height:375px; padding-left:680px; padding-top:160px; line-height:34px;  font-size:18px;}

ul.build_ul p.gain_p_01{ background:url(../images/gain_p_01bg.png) no-repeat;}

ul.build_ul p.gain_p_02{ padding-top:175px; height:360px; background:url(../images/gain_p_02bg.png) no-repeat;}

ul.build_ul p.gain_p_03{ background:url(../images/gain_p_03bg.png) no-repeat;}

ul.build_ul p.gain_p_04{ padding-top:145px; height:390px; background:url(../images/gain_p_04bg.png) no-repeat;}

strong.gain_p_04_div{ display:inline-block; width:140px; height:150px; margin-top:72px; background:url(../images/gain_p_04_divbg.png) no-repeat; padding-top:70px; font-size:14px; font-weight:normal; color:#0075c1; line-height:22px;}

#bd_cont_06 .build_cont span{ padding-top:173px;}

/*end@bd_cont_06*/



/*start@bd_cont_07*/

#bd_cont_07{ width:100%; height:260px; background:#e4007f; text-align:center;}

#bd_cont_07 .title01{ margin-top:48px; line-height:48px; font-size:36px; color:#000;}

#bd_cont_07 .title02{ line-height:60px; font-size:48px; color:#fff;}

/*end@bd_cont_07*/



/*start@bd_cont_08*/

#bd_cont_08{ width:100%; height:686px; text-align:center; padding-bottom:136px; background-color:#fff;}

#bd_cont_08 .title{ height:260px; line-height:260px; font-size:36px; color:#000;}

#bd_cont_08 ul{ width:820px; margin:0 auto; overflow:hidden;}

#bd_cont_08 ul li{ float:left; opacity:.6;}

/*end@bd_cont_08*/



/*start@bd_cont_09*/

#bd_cont_09{ width:100%; height:500px; background:url(../images/bd_cont_09bg.png) no-repeat center bottom #efefef;}

.cont_09_l{ width:400px; float:left; padding:124px 0 0 35px;}

.cont_09_l .title{ height:60px; font-size:36px; color:#000;}

.cont_09_l p{ line-height:22px;}

.cont_09_r{ padding-left:80px;}

/*end@bd_cont_09*/



/*start@bd_cont_10*/

#bd_cont_10{ width:100%; height:530px; background-color:#fff;}

#bd_cont_10 .bd_auto{ height:530px; background:url(../images/bd_cont_10bg.png) no-repeat left center;}

.cont_10_box{ padding-left:515px; padding-top:180px;}

.cont_10_box .title{ height:56px; font-size:24px; font-weight:normal; color:#e4007f;}

.cont_10_box p{ line-height:30px;}

/*end@bd_cont_10*/



/*start@bd_footer*/

#bd_footer{ width:100%; height:324px; background:#444;}

.bd_footer_left{ width:480px; float:left; padding-left:5px; padding-top:46px; background:url(../images/footer_l_bg.png) no-repeat 430px 80px;}

.bd_footer_left dl{ width:100%; overflow:hidden;}

.bd_footer_left dt,.bd_footer_left dd{ float:left;}

.bd_footer_left dd{ padding-left:10px; padding-top:16px;}

.bd_footer_left p{ margin-top:20px; line-height:24px; font-size:12px; color:#f5f5f5;}

#bd_footer p a{ color:#f5f5f5;}

.bd_footer_left p.foot_icon a{ float:left; margin-right: 20px;}

.bd_footer_left p.foot_icon a:last-child{ margin-top:8px;}

.bd_footer_right{ width:430px; float:left; padding-top:46px; height:205px; background:url(../images/footer_weixin.png) no-repeat right bottom;}

.bd_footer_right .title{ font-size:24px; color:#fff; line-height:36px; font-weight:normal; padding-top:20px;}

.bd_footer_right p{ margin-top:10px; line-height:24px; font-size:12px; color:#f5f5f5; padding-bottom:55px;}

/*end@bd_footer*/



/*start@backToTop*/

.backToTop {

    background:url(../images/top-home.png) no-repeat;

    bottom: 100px;

    cursor: pointer;

    display: none;

    opacity: 0.6;

    position: fixed;

    right: 10px;

    width: 48px;

	height:48px;

}

/*end@backToTop*/



/*start@zhezhao*/

#bd_zhezhao{ display:none; background:#000; height: 100%; left: 0;  filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;  position: fixed !important; top: 0; width: 100%; z-index: 130;}

#facebox{ display:none; padding:60px; padding-bottom:10px; z-index: 140; background-color:#fff;

left:50%;/*FF IE7*/

top:50%;/*FF IE7*/

margin-left:-360px!important;/*FF IE7 该值为本身宽的一半 */

margin-top:-300px!important;/*FF IE7 该值为本身高的一半*/

margin-top:0px;

position:fixed!important;/*FF IE7*/

position:absolute;/*IE6*/

_top:       expression(eval(document.compatMode &&

document.compatMode=='CSS1Compat') ?

documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/

document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/

}

#facebox a.close{ display:block; position:absolute; top:0; right:0;}

.shenqing {

    float: left;

    width: 600px;

}

.shenqing .title01 {

    border-bottom: 1px solid #CCCCCC;

    color: #FF6634;

    float: left;

    font-size: 24px;

    font-weight: normal;

    line-height: 36px;

    width: 100%;

}

.shenqing .title02 {

    color: #808080;

    float: left;

    font-size: 14px;

    font-weight: normal;

    line-height: 24px;

    text-align: right;

    width: 100%;

}

.shenqing_table {

    color: #666666;

    float: left;

    font-size: 14px;

    margin: 20px 0;

    width: 100%;

}

.shenqing_table td {

    height: 40px;

    padding: 0 5px;

}

.shenqing_input {

    border: 1px solid #CCCCCC;

    color: #333333;

    height: 24px;

    line-height: 24px;

    padding: 0 5px;

}

.shenqing_textarea{

	border: 1px solid #CCCCCC;

    color: #333333;

    height: 96px;

    line-height: 24px;

    padding: 0 5px;

}

.shenqing_table font {

    color: #FF0000;

    font-size: 16px;

    padding-top: 10px;

}

.shenqing_btn {

    height: 40px;

    margin: 0 auto;

    width: 122px;

	margin-top:15px;

}

#facebox .shenqing_btn a {

    background: url("../images/scgl_add_over.jpg") no-repeat scroll 0 0;

    color: #FFFFFF;

    display: block;

    font-size: 16px;

    height: 40px;

    line-height: 40px;

    text-align: center;

    width: 122px;

}

#facebox .shenqing_btn a:hover {

    background: url("../images/scgl_add_over_h.jpg") no-repeat scroll 0 0;

    text-decoration: none;

}





/*end@zhezhao*/

.friendlink,.news{width:100%;}

.newsBox{width:960px; padding:35px 0; margin:0 auto; overflow:hidden;}

.news{ background-color:#EFEFEF;}

.newsBox .title{ font-size:36px; color:#000; margin-bottom:30px;}

.newsBox .title strong{ font-weight:normal;}

.newsBox .title a{ float:right; font-size:16px; line-height:20px;}

.homeNews li{ width:425px; padding-left:20px; line-height:24px; float:left; background:url("../images/newsdote.png")no-repeat 5px center;}

.friendlink{ background-color:#444; border-bottom:1px solid #7b7b7b;}

.link{width:960px; padding:0; height:48px; line-height:48px; margin:0 auto; overflow:hidden;}

.link .title{ float:left; font-size:18px; color:#7b7b7b;}

.link a{ float:left; margin-left:20px; color:#fff;}











