{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('kehuziliao', array('op' => 'post'));}">添加客户</a></li>
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('kehuziliao', array('op' => 'display'));}">客户列表</a></li>
</ul>
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
</style>
{if $op == 'display'}
<div class="main">
	<div style="padding:15px;">
		<table class="table table-hover table-striped">
			<thead class="navbar-inner">
				<tr>
					<th style="width:60px">编号</th>
					<th style="width:50px;">姓名</th>
					<th style="width:50px;">手机</th>
					<th style="width:50px;">QQ</th>
					<th style="width:80px;">微信/公众号</th>
					<th style="width:50px;">合作方式</th>
					<th style="width:50px;">合做次数</th>
					<th style="width:100px;">状态</th>
					<th style="width:50px;">排名</th>
					<th style="width:100px;text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
					{loop $list $item}
				<tr>
<td>{$item['id']}</td>
<td><a target='_blank' href='mobile.php?act=module&id={$item['id']}&weid={$_W['weid']}&name=yobyxiangmu&do=article'>{$item['username']}</a></td>
<td>{$item['mobile']}</td>
<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$item['qq']}&site=qq&menu=yes"><img src="./source/modules/yobyxiangmu/images/qq.gif" border="0" ></a></td>
<td>{$item['weixin']}</td>
<td>{$item['mode']}</td>
<td>{$item['num']}</td>
<td>{if $item['isfinish']==0}<span class="label label-success">合作中</span>{else}<span class="label label-error">结束</span>{/if}</td>
<td>{$item['rank']}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('kehuziliao', array('op' => 'post', 'id' => $item['id']))}" title="编辑" class="btn btn-mini"><i class="icon-edit"></i></a>
						<a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('kehuziliao', array('op' => 'del', 'id' => $item['id']))}" title="删除" class="btn btn-mini"><i class="icon-remove"></i></a>
					</td>
				</tr>
				
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
{elseif $op == 'post'}
<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item[id]}">
		<h4>客户资料列表</h4>
		<table class="tb">
			<tr>
				<th><label for=""><span style='color:red'>*</span>姓名</label></th>
				<td>
					<input type="text" class="span4" placeholder="" name="username" value="{$item['username']}">
					<span class="help-block">客户姓名</span>
				</td>
			</tr>
			
			<tr>
				<th><label for="">头像/logo</label></th>
				<td>
				{php echo tpl_form_field_image('logo', $item['logo'] =='' ? $setting['thumb'] : $item['logo']);}
					<span class="help-block">个人用户头像/企业logo</span>
				</td>
			</tr>
			
			
			<tr>
				<th><label for="">手机/电话</label></th>
				<td>
					<input type="text" class="span4" placeholder="" name="mobile" value="{$item['mobile']}">
					<span class="help-block">手机/电话任意填一个</span>
				</td>
			</tr>
						<tr>
				<th><label for=""><span style='color:red'>*</span>QQ</label></th>
				<td>
					<input type="text" class="span4" placeholder="" name="qq" value="{$item['qq']}">
					<span class="help-block">qq</span>
				</td>
			</tr>
						<tr>
				<th><label for="">微信/其他</label></th>
				<td>
					<input type="text" class="span4" placeholder="" name="weixin" value="{$item['weixin']}">
					<span class="help-block">微信/易信</span>
				</td>
			</tr>
			<tr>
				<th><label for="">地址</label></th>
				<td>
					<input type="text" class="span6" placeholder="" name="address" value="{$item['address']}">
					<span class="help-block">公司/个人地址</span>
				</td>
			</tr>
			<tr>
				<th><label for="">合作方式</label></th>
				<td>
<input type="text" class="span2" placeholder="" name="mode" value="{$item['mode']}">
<span class="help-block">长期/单次/根据实际情况写</span>
				</td>
			</tr>
			<tr>
				<th><label for="">合作次数</label></th>
				<td>
<input type="text" class="span2" placeholder="" name="num" value="{$item['num']}">
<span class="help-block">合作成功次数</span>
				</td>
			</tr>
			<tr>
				<th><label for="">合作是否结束</label></th>
				<td>
					<label for="isshow7" class="radio inline"><input type="radio" name="isfinish" value="1" id="isshow7" {if empty($item) || $item['isfinish'] == 1}checked="true"{/if} /> 是</label>
					&nbsp;&nbsp;&nbsp;
					<label for="isshow8" class="radio inline"><input type="radio" name="isfinish" value="0" id="isshow8"  {if !empty($item) && $item['isfinish'] == 0}checked="true"{/if} /> 否</label>
<span class="help-block">合作是否结束</span>
				</td>
			</tr>
			<tr>
				<th>附加信息,其他信息</th>
				<td>
					<textarea style="height:200px; width:80%;" class="span7 richtext-clone" name="txt" cols="70" id="reply-add-text">{$item['txt']}</textarea>
				</td>
			</tr>
		</table>

		<table class="tb">
			<tr>
				<th></th>
				<td>
					<button type="submit" class="btn btn-primary span3" name="submit" value="提交">保存</button>
				
					<input type="hidden" name="token" value="{$_W['token']}" />
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript">
<!--
	kindeditor($('.richtext-clone'));
//-->
</script>
{/if}
{template 'common/footer'}
