
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="http://stc.weimob.com/css/bootstrap_min.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://stc.weimob.com/css/bootstrap_responsive_min.css" media="all" />
<link rel="stylesheet" type="text/css" href="{RES}web/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="{RES}web/css/todc_bootstrap.css" media="all" />
<link rel="stylesheet" type="text/css" href="{RES}web/css/themes.css" media="all" />
 <link rel="stylesheet" type="text/css" href="{RES}web/css/inside.css" media="all" />
<script type="text/javascript" src="{RES}web/js/jQuery.js"></script>
<script type="text/javascript" src="{RES}web/js/bootstrap_min.js"></script>
<script type="text/javascript" src="{RES}web/js/jquery_validate_min.js"></script>
 <script type="text/javascript" src="{RES}web/js/jquery_validate_methods.js"></script>
<script type="text/javascript" src="{RES}web/js/jquery_form_min.js"></script>
 <script type="text/javascript" src="{RES}web/js/jscolor.js"></script>
<script type="text/javascript" src="{RES}web/js/inside.js"></script>
<script type="text/javascript" src="{RES}web/js/map.js"></script>
<title>商户管理 微生活—by 微动力</title>
    <!--[if lte IE 9]><script src="{RES}web/js//watermark.js"></script><![endif]-->
	<!--[if IE 7]><link href="{RES}web/css/font_awesome_ie7.css" rel="stylesheet" /><![endif]-->
</head>
<body>
<link type="text/css" rel="stylesheet" href="resource/script/kindeditor/themes/default/default.css" />
<script type="text/javascript" src="resource/script/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="resource/script/kindeditor/lang/zh_CN.js"></script>
<script src="http://api.map.baidu.com/api?key=24ffad3855e675265336a4cfb46d32b4&v=1.1&services=true" type="text/javascript" type="text/javascript"></script>
<div id="main">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="box">
                <div class="box-title">
                    <div class="span10">
                        <h3><i class="icon-edit"></i>添加商户</h3>
                    </div>
                    <div class="span2"><a class="btn" href="Javascript:window.history.go(-1)">返回</a></div>
                </div>

                <div class="box-content">
					<ul class="nav nav-tabs">
                        <li><a href="{php echo create_url('site/module/businessEd1', array('name' => 'market','classid'=>$row['classid'],'id'=>$row['id']));}">基础设置</a></li>
                        <li  class="active"><a href="javascript:;" >商户信息</a></li> 
                        <li><a href="{php echo create_url('site/module/businessEd3', array('name' => 'market','classid'=>$row['classid'],'id'=>$row['id']));}">会员设置</a></li>
                        <li><a href="{php echo create_url('site/module/businessEd4', array('name' => 'market','classid'=>$row['classid'],'id'=>$row['id']));}">优惠设置</a></li>
                    </ul>
                    <div class="tab-content">
                        <form action="" method="post" class="form-horizontal form-validate">
								<input type="hidden" name="action" value="save" />
								<input type="hidden" name="id" value="{$row['id']}" />
								<div class="control-group">
                                    <label for="name" class="control-label">商户名称：</label>
                                    <div class="controls">
                                        <input type="text" name="shopname" id="name" value="{$row['shopname']}" class="input-large" data-rule-required="true" data-rule-maxlength="20" />
                                        <span class="maroon">*</span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="logo">logo</label>
                                    <div class="controls">
										{if !empty($row['logo'])}<img class="thumb_img" src="{$row['logo']}" style="max-height: 100px;">{/if}
                                        <input class="input-xlarge {if !empty($row['logo'])}hide{/if}" type="text" id="logo" value="{$row['logo']}" readonly="" name="logo" />
                                        <span class="help-inline">
                                            <button class="btn select_img" type="button">选择logo</button>
                                        </span>
                                        <span class="help-inline">建议尺寸：宽300像素，高300像素</span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="sort" class="control-label">显示顺序：</label>
                                    <div class="controls">
                                        <input type="text" id="sort" name="sort"  value="{$row['sort']}" class="input-mini" data-rule-required="true" data-rule-number="true" /><span class="maroon">*</span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="content" class="control-label">商户介绍 ：</label>
                                    <div class="controls">
                                        <textarea name="description" rows="5" id="Textarea1" class="input-large" data-rule-maxlength="500">{$row['description']}</textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="fanslocal">
                                        商家详细地址</label>
                                    <div class="controls">
                                        <input type="text" name="address" id="address" value="{$row['address']}" class="input-large" data-rule-required="true" data-rule-maxlength="30">
                                        <span class="maroon">*</span> <span class="help-inline">将会显示在会员卡下面，最多只能输入30个字符。</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="fanslocal">
                                        联系方式</label>
                                    <div class="controls">
                                        <input type="text" name="tel" value="{$row['tel']}" id="phone" class="input-large" data-rule-required="true" data-rule-phone="true">
                                        <span class="maroon">*</span> <span class="help-inline">将会显示在会员卡下面，如13911111111或者0755-2345678</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="suggestId">经纬度</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="text" id="suggestId" class="input-xlarge" name="place" data-rule-required="true" />
                                            <button class="btn" type="button" id="positioning">搜索</button>
                                        </div>

                                        <span class="maroon">注意：这个只是模糊定位，准确位置请地图上标注!</span>
                                        <div id="l-map">
                                            <i class="icon-spinner icon-spin icon-large"></i>地图加载中...
                                        </div>
                                        <div id="r-result">
                                            <input type="text" id="lng" name="lng" value="{$row['lng']}" /><input type="text" id="lat" name="lat" value="{$row['lat']}"  />
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button id="bsubmit" type="submit" data-loading-text="提交中..." class="btn btn-primary">保存</button>
                                    <button type="button" class="btn" onclick="Javascript:window.history.go(-1)">取消</button>
                                </div>
                            </form>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    $(function () {
        baidu_map();
    })

KindEditor.ready(function (K) {
    var editor = K.editor({
        themeType: "simple",
        allowFileManager: true,
		uploadJson : "./index.php?act=attachment&do=upload",
		fileManagerJson:"./index.php?act=attachment&do=manager",	
    }); 
    $('button.select_img').live("click",function (e) {
        editor.loadPlugin('image', function () {
            editor.plugin.imageDialog({
                imageUrl: $(e.target).parent().prevAll("input[type=text]").val(),
                clickFn: function (url, title, width, height, border, align) {
                    var $input = $(e.target).parent().prevAll("input[type=text]")
                    $input.val(url)
                    $input.hide();
                    var t_img = $(e.target).parent().prevAll(".thumb_img:first");
                    if (t_img.length == 0) {
                        var tmp = '<img class="thumb_img" src="{0}" style="max-height: 100px;">';
                        $input.before(tmp.format(url))
                    } else {
                        t_img.attr("src", url);
                    }

                    editor.hideDialog();
                }
            });
        });
    });
});	
    var seting = {
             themeType: "simple",
             resizeType: 1,
             syncType: "",
             allowPreviewEmoticons: false,
             items: [
 'source', 'undo', 'redo', 'plainpaste', 'plainpaste', 'wordpaste', 'clearhtml', 'quickformat', 'selectall', 'fullscreen', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'hr',
 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
 'insertunorderedlist', '|', 'emoticons', 'image', 'link', 'unlink', 'preview'],
             uploadJson : "./index.php?act=attachment&do=upload",
			fileManagerJson:"./index.php?act=attachment&do=manager",	
			 allowFileManager: true,
             width: "70%",
             afterCreate: function () {
                 this.sync();
             },
             afterBlur: function () {
                 this.sync();
             }
         }
         var editor1;
         KindEditor.ready(function (K) {
             editor1 = K.create('#Textarea1', seting);

         });
</script>


</body>
</html>
