{template 'common/header'}
<link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />
<script type="text/javascript" src="./resource/script/daterangepicker.js"></script>
<script type="text/javascript">
$(function() {
	$('#date-range').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: $(':hidden[name=start]').val(),
        endDate: $(':hidden[name=end]').val(),
        locale: {
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '至',
            weekLabel: '周',
            customRangeLabel: '日期范围',
            daysOfWeek: moment()._lang._weekdaysMin.slice(),
            monthNames: moment()._lang._monthsShort.slice(),
            firstDay: 0
        }
    }, function(start, end){
        $('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
        $(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
        $(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
    });
	
	//调整工单状态
	$('div.make-switch').on('switch-change', function (e, data) {
		var rids=$(this).find(':checkbox:').val();
		var wid=$(this).attr('data-id');
		$.post(location.href, {'rids': rids,'wid':wid}, function(dat){
			if(!dat){alter('操作失败请重试');}
		});
	});
	
});
function range(days) {
    var start = moment().add('days', 0 - days).format('YYYY-MM-DD');
    var end = moment().format('YYYY-MM-DD');
    $('#date-range .date-title').html(start + ' 至 ' + end);
    $(':hidden[name=start]').val(start);
    $(':hidden[name=end]').val(end);
    $('form[method=get]')[0].submit();
}


</script>
    <div class="main">
		<div class="stat">
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="brand">客服工单记录</span>
						<div class="pull-left">
							<ul class="nav">
								<li class="active"><a href="{php echo create_url('site/module/work', array('name' => 'kf','eid' => $eid))}">工单管理</a></li>
								<li ><a href="{php echo create_url('site/module/workmessage', array('type' => '3', 'name' => 'kf', 'eid' => $eid, 'kf' => 1))}">客服消息记录</a></li>
                                <li ><a href="{php echo create_url('site/module/workmessage', array('type' => '3', 'name' => 'kf', 'eid' => $eid, 'usr' => 1))}">用户消息记录</a></li>
                                
								<li ><a href="{php echo create_url('site/module/history', array('name' => 'stat','searchtype' => 'rule'))}">历史消息</a></li>
								
						</div>
					</div>
				</div>
				<div class="sub-item">
					<form action="" method="get">
					<div class="pull-right">
						<input class="btn btn-primary" type="submit" value="搜索">
					</div>
					<div class="pull-left">
                        <input name="act" type="hidden" value="{$_GPC['act']}" />
						<input type="hidden" name="eid" value="{$_GPC['eid']}" />
						<input name="do" type="hidden" value="{$_GPC['do']}" />
						<input name="name" type="hidden" value="{$_GPC['name']}" />
						<input name="id" type="hidden" value="{$_GPC['id']}" />
						<input name="kf" type="hidden" value="{$_GPC['kf']}" />
                        
						<input type="text" class="span2 kw" name="keyword" value="{$_GPC['keyword']}" placeholder="请输入关键字">
                        <input name="start" type="hidden" value="{php echo date('Y-m-d', $starttime)}" />
                        <input name="end" type="hidden" value="{php echo date('Y-m-d', $endtime)}" />
						<button class="btn" id="date-range" class="date" type="button"><span class="date-title">{php echo date('Y-m-d', $starttime)} 至 {php echo date('Y-m-d', $endtime)}</span> <i class="icon-caret-down"></i></button>
						<span class="date-section"><a href="javascript:;" onclick="range(7);">7天</a><a href="javascript:;" onclick="range(14);">14天</a><a href="javascript:;" onclick="range(30);">30天</a></span>
					</div>
					</form>
				</div>
				<div class="sub-item" id="table-list">
					<h4 class="sub-title">详细数据</h4>
					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th style="width:40px;" class="row-first">选择</th>
									<th style="width:80px;">用户<i></i></th>
									<th style="width:120px;">工单号<i></i></th>
                                    <th class="row-hover">客户情况日志<i></i></th>
									<th style="width:80px;">客服ID<i></i></th>
									<th style="width:100px;">时间<i></i></th>
									<th style="width:100px;">状态<i></i></th>
									<th style="width:110px;">操作</th>
								</tr>
							</thead>
							<tbody>
								{loop $list $key $row}
								<tr>
									<td class="row-first"><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
									<td style="txt-align:center;"><a href="{php echo create_url('site/module/jdchat', array('name'=>'kf', 'eid'=>$eid,'oid' => $user[$key]['id']))}"><img width="45px" height="45px" src="{$user[$key]['avatar']}" /></a><br />{$user[$key]['nickname']}</a></td>
									<td align="left"><a href="{php echo create_url('site/module/workmessage', array('name'=>'kf', 'workid'=>$row['workid']))}">{$row['workid']}</a></td>
                                    <td class="row-hover">{if $kflog[$key]['oid']}{$user[$key]['nickname']}来访次数：<span style="font-size:12px; color:#ff0000;">{$kflog[$key]['num']}</span>&nbsp;&nbsp;&nbsp;客户类别：<span style="font-size:12px; color:#ff0000;">{$kflog[$key]['cattype']}</span>&nbsp;&nbsp;&nbsp;备注说明：{$kflog[$key]['bak']}&nbsp;&nbsp;&nbsp;最后来访时间：{php echo date('Y-m-d   H:i:s',$kflog[$key]['lasttime'])}{else}该用户无相关日志记录{/if}</td>
                                    
									<td >{if $row['kfid']}<a href="{php echo create_url('site/module/jdchat', array('name'=>'kf', 'eid'=>$eid,'fakeid' => $row['kfid']))}"><img width="45px" height="45px" src="{$kf[$key]['avatar']}" /></a><br />{$kf[$key]['nickname']}<br />(工号：{$row['kfid']})</a>{else}无客服受理{/if}</td>
									
									<td style="font-size:12px; color:#666;">
									{php echo date('Y-m-d <br /> H:i:s', $row[ctime]);}
									</td>
									<td>
                                    <div class="make-switch" data-on-label="已受理" data-off-label="未受理" data-id="{$row['id']}">
										<input type="checkbox"  value="{$row['status']}" {if $row['status']} checked="checked"{/if}/>
									</div>
                                    
									
									</td>
									<td>
									<a class="btn edit btn-small"  href="{php echo create_url('site/module/workmessage', array('name'=>'kf', 'workid'=>$row['workid']))}" title="查看工单号消息记录"><i class="icon-sort-by-attributes"></i></a>
									<a class="btn edit btn-small"  href="{php echo create_url('site/module/editusr', array( 'name' => 'reg', 'eid' => $eid, 'from' => $user[$key]['from_user']))}" title="用户资料"><i class="icon-info"></i></a>
                                    <a class="btn edit btn-small"  href="{php echo create_url('site/module/workmessage', array('name'=>'kf', 'oid' => $user[$key]['from_user']))}" title="查看该用户所有消息"><i class="icon-reorder"></i></a>
									</td>
								</tr>
								{/loop}
							</tbody>
						</table>
						<table class="table">
							<tr style="width:40px;" class="row-first">
								<td><input type="checkbox" onclick="selectall(this, 'select');" /></td>
								<td>
									
									<input type="submit" name="delete" value="删除" class="btn btn-primary" />
									<input type="hidden" name="token" value="{$_W['token']}" />
								</td>
							</tr>
						</table>
						</form>
                         {$pager}
					</div>
				</div>
			</div>
		</div>
    </div>

<script>
$(function() {
	//详细数据相关操作
	var tdIndex;
	$("#table-list thead").delegate("th", "mouseover", function(){
		if($(this).find("i").hasClass("")) {
			$("#table-list thead th").each(function() {
				if($(this).find("i").hasClass("icon-sort")) $(this).find("i").attr("class", "");
			});
			$("#table-list thead th").eq($(this).index()).find("i").addClass("icon-sort");
		}
	});
	$("#table-list thead th").click(function() {
		if($(this).find("i").length>0) {
			var a = $(this).find("i");
			if(a.hasClass("icon-sort") || a.hasClass("icon-caret-up")) { //递减排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-down");
			} else if(a.hasClass("icon-caret-down")) { //递增排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-up");
			}
			$("#table-list thead th,#table-list tbody:eq(0) td").removeClass("row-hover");
			$(this).addClass("row-hover");
			tdIndex = $(this).index();
			$("#table-list tbody:eq(0) tr").each(function() {
				$(this).find("td").eq(tdIndex).addClass("row-hover");
			});
		}
	});
});
</script>
{template 'common/footer'}
