<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="description" content="深圳中心">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
	<title>楼盘精选</title>
    <link href="http://imgcache.gtimg.cn/lifestyle/app/wx_house/css/format.css" rel="stylesheet"><!-- http://imgcache.qq.com/lifestyle/act/home_130709_szh/ -->
    <style type="text/css">
        .hot{color: #c79958;}/* 标题字颜色 */
        .top_scroll{background-color: #1d3357;}/* 顶部滚动图片背景色 */
        .top_show p{line-height: 1.63em}
        .middle {
            overflow:hidden;
            height:170px;
            line-height:170px;
            width: 100%;
            vertical-align:middle;
            text-align:center;
        }
    </style>
</head>
<body>


<div class="wrapper" id="container" style="min-height: 964px;">
	<div class="top_show">
		<div class="middle">
			<img id="bannerImage" src="./楼盘精选_files/banner1.jpg" style="height:170px">
		</div>
		<h2 class="hot" style="">
		</h2>
		<p style="">
			{$head['content']}
		</p>
	</div>
	<ul class="info_list">
		<li>
			<div style="cursor:pointer;min-height:53px" onclick="ADList.goDetail_1(&#39;81001.1&#39;);return false;">
				<div class="list_cont">
					<img src="./楼盘精选_files/fcbs.jpg" width="96" height="53" alt="">
					<h3 class="hot" style=";font-size:14px">
						万科翡翠别墅
					</h3>
					<p style=";font-size:14px">
						Fei Cui Bie Shu
					</p>
				</div>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript" src="./楼盘精选_files/share.js"></script>
<script type="text/javascript" src="./楼盘精选_files/common.js"></script>
<script type="text/javascript" src="./楼盘精选_files/ad-list.js"></script>
<script type="text/javascript" defer src="./楼盘精选_files/tcss.ping.js"></script>

</body></html>