<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" href="{RES}css/wei_canyin.css?2014" media="all" />
<link rel="stylesheet" type="text/css" href="{RES}css/wei_dialog.css" media="all" />
<script type="text/javascript" src="{RES}js/jQuery.js"></script>
<script type="text/javascript" src="{RES}js/wei_webapp_v2_common.js"></script>
<title>{$set['shop_name']}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
</head>
<style>
#page_allMenu {
background-color: #e9e9eb;
color: #5e6060;
font-size: 14px;
-webkit-text-size-adjust: none;
}
.ordernotice-close-icon {
position: absolute;
z-index: 2;
right: 0;
top: 0;
bottom: 0;
width: 35px;
padding: 0;
background: url(./source/modules/shopping3/style/img/mar-close.png) no-repeat center center;
background-size: 15px 15px;
}
.shop-marquee .notice-icon {
top: 10px;
left: 10px;
}
.shop-marquee .marquee-content {
position: absolute;
float: left;
height: 30px;
line-height: 30px;
padding-top: 2px;
margin-left: 35px;
margin-right: 35px;
}
.notice-icon {
position: absolute;
z-index: 2;
left: 0;
top: 16px;
width: 16px;
height: 13px;
padding: 0;
background: url(./source/modules/shopping3/style/img/mar-v.png) no-repeat center center;
background-size: 16px 13px;
}
.shop-marquee {
position: absolute;
z-index: 2;
top: 0;
height: 34px;
line-height: 34px;
width: 100%;
background: #fff9e9;
}
.p40{
	padding-top:35px
}
</style>
<body id="page_allMenu">
<div class="center p40" id="box1">
	{if $set['shop_notice']}
	<div class="shop-marquee" id="shop_notices">
		<div class="notice-icon"></div>
		<div class="marquee-content">
			<marquee scrollamount="2" behavior="alternate" style="">
				{$set['shop_notice']}	
			</marquee>
		</div>
		<div class="ordernotice-close-icon">
		</div>
	</div>
	{/if}
    <nav id='navBar'>
        <dl>
            <!--<dt>分类</dt>-->
        </dl>
    </nav>

    <section id="infoSection">
        <article>
            <!--div class="h2">推荐菜</div-->
            <div id="pInfo">
                <!--current list-->
            </div>
        </article>
    </section>
    {template wl_footer} 
</div>
    <script type="text/javascript">
        window.selected = {
            total:{php echo intval($totalnum)},
            dishes: {if empty($idstr)}{}{else}{$idstr}{/if},
        };
        var cardid = '3414907165';
        var view_const_dish_SPECIAL_PRICE_YES = '2';
        var view_const_dish_HOT_YES = '2';

        function setHeight(){
            var  cHeight;
            cHeight = document.documentElement.clientHeight;
            cHeight = cHeight +"px"
            document.getElementById("navBar").style.height =  cHeight;
            document.getElementById("infoSection").style.height =  cHeight;
        }
        function getAllList(){
            var params = {
            }
            MLoading.show('加载中');
             _doAjax("{php echo  $this->createMobileUrl('wldishlist')}", "POST", params, function(res) {
                MLoading.hide();
                window.res = res;
                if(res && res.length){
                    switchList();
                    var navBar = document.getElementById("navBar");
                    var TPL = '<dd categoryid="{id}" class="{selectedClass}" onclick="switchList({id});">{name}</dd>';
                    (function(){
                       var dds_HTML = iTemplate.makeList(TPL, res, function(k,v){
                            return {
                               // selectedClass: 0 ==k?"active":""
                            }
                       });
                       navBar.innerHTML = "<dl>" + dds_HTML + "</dl>";
                    })();
                }
            });
        }
        //
        function switchList(id){
            var ai = {};
            if(id){
                var dds = _qAll('#navBar dd');
                for(var i = 0;ci=window.res[i]; i++){
                    //dds[i].className = null;
                    if(id == ci.id){
                        ai = ci;
						//alert(dds[i].innerHTML);
                        dds[i].className = "active";
                    }else{
					   dds[i].className = "";
					}
					//alert(ci.price);
                }
            }else{
                ai = window.res[0];
            }
//          alert(id);return false;
            var checkHtml = '';
			
            var TPL = '<dl dunitname="{unit}" dsubcount="1" dishid="{id}" dname="{name}" dtaste="" ddescribe="{note}" dprice="{price}" dishot="{tag_name}" dspecialprice="{discount_price}" disspecial="1" people="{sellnums}" >\
                    <dt><h3>{name}{html_name}</h3></dt>\
					<dd>\
                        <a href="javascript:void(0)" class="dataIn" onclick="showImgDetail(this);event.stopPropagation();">\
                            <img src="{pic}" alt="" title="">';
					TPL += '<span style="font-size:10px;">{tag_name}</span>';
					TPL +='</a>\
                    </dd>\
					<dd><em class="sale">{price}元/{unit}<br><del>{discount_price}元/{unit}</del>\
					<span>{label}</span><p><b>销量:{sellnums}</b>库存:{total}</p></em>\
					</dd>\
					<dd class="btn">\
						<button class="minus" style="display: {curstate}" onclick="selectOne(this, {id}, {price},0,0);"><strong></strong></button>\
						<i style="display: {curstate}">{nums}</i>\
						<button class="add" onclick="selectOne(this, {id}, {price},1,{total});"><strong></strong></button>\
						<em class="fixBig  fake"></em>\
					</dd>\
                </dl>';
            document.getElementById("pInfo").innerHTML = iTemplate.makeList(TPL, ai.dishes, function(k,v){
				if(v.discount_price){
					//v.price = v.discount_price;
				}
				if(v.id in window.selected.dishes){
					v.nums=window.selected.dishes[v.id].num;
					//alert(v.id+'+'+v.nums);
					if(v.nums>0){
						v.curstate='inline-block';
					}
				}else{
					//alert(v.id+'+=+'+v.nums);
					if(v.nums>0){
						v.curstate='inline-block';
						window.selected.dishes[v.id] = {
							price:v.price,
							nums:v.nums
						}
					}
				}
                return {
					//nums:(v.id in window.selected.dishes)? window.selected.dishes[v.id][num]:0;
                   // curState: (v.id in window.selected.dishes)? "selectBtn choose choosen":"selectBtn choose  unchoose",
                   // check : (v.check == '1') ? "checked" : ''
                }
            });
        }
        //show img detail
        function showImgDetail(thi){
            var parentDl = thi.parentNode.parentNode;
            var childImg = thi.childNodes[0]
            if(childImg.nodeType == 3){
                childImg = thi.childNodes[1];
            }
            popPic(childImg.src,//imgUrl
                    parentDl.getAttribute('dname'),//,title,price, isSpecial, specialPrice, people,teast,assess,isHot
                    parentDl.getAttribute('dprice') + '元/' + parentDl.getAttribute('dunitName'),//price, 
					parentDl.getAttribute('dIsSpecial'),//specialPrice
                    parentDl.getAttribute('dSpecialPrice') + '元/' + parentDl.getAttribute('dunitName'),
					parentDl.getAttribute('people'),
					parentDl.getAttribute('dtaste'),
                    parentDl.getAttribute('ddescribe'),
                    parentDl.getAttribute('dishot')
				 
					
                );
        }
        //

       function selectOne(container, dishid, price,_t,_left) {
           /* var btn = container.querySelectorAll("button")[0];
            if (btn.className.indexOf("choosen")>-1) {
                _removeClass(btn, 'choosen');
                _addClass(btn, 'unchoose');
                //unselected
                delete window.selected.dishes[dishid];
                window.selected.total -=1;
            } else {
                _removeClass(btn, 'unchoose');
                _addClass(btn, 'choosen');
                //selected
                window.selected.dishes[dishid] = {
                    price:price,
                    num:1
                }
                window.selected.total +=1;
            }
			*/
 			var btn = container.parentNode;
			
			window.selected.origTotal = parseInt(_q(".footer_menu .num").innerHTML);

			if(_t==1){
				_input=btn.querySelectorAll("i")[0];
				_value=_input.innerHTML;
				_value=parseInt(_value)+1;
				if(_value>_left){
					alert('超过库存总量，库存不足');
					return false;
				}
				btn.querySelectorAll("button")[0].style.display ="inline-block";
				_input.style.display ="inline-block";

				
				_input.innerHTML=_value;
				
				//alert(container.html());
				//container.prev().show();
				window.selected.dishes[dishid] = {
					price:price,
					num:_value,
				}
				_q(".footer_menu .num").innerHTML = window.selected.origTotal + 1;
			}else{
				_input=btn.querySelectorAll("i")[0];
				_value=_input.innerHTML;
				_value=parseInt(_value)-1;
				_q(".footer_menu .num").innerHTML = window.selected.origTotal - 1;
				if(_value>0){
					_input.innerHTML=_value;
					window.selected.dishes[dishid] = {
						price:price,
						num:_value
					}
				}else{
					//delete window.selected.dishes[dishid];
					window.selected.dishes[dishid] = {
						price:price,
						num:0
					}
					_input.innerHTML=0;
					btn.querySelectorAll("button")[0].style.display ="none";
					_input.style.display ="none";
				}
			}
			
           
			
			
            /*
			console.log(window.selected);
			*/
        }
        //
        function addToMenu(){
            var params = '[';
            for(var key in window.selected.dishes){
                params += '{"dishes_id":'+ key + ",",
                params += '"price":'+ window.selected.dishes[key].price + ",",
                params += '"nums":'+ window.selected.dishes[key].num + "},"
            }
            params = params.replace(/,$/, "");
            params += ']';

            $.ajax({
                'url':'{php echo  $this->createMobileUrl('wladdorder')}',
                'data':{'order':params},
                'type':'POST',
                'async':'false',
                'success':function(db){
					 location.href='{php echo  $this->createMobileUrl('wlcart')}';
                }
            });

        }

        //后台可自行扩展参数
        //调用自定义弹层
        function popPic(imgUrl,title,price, isSpecial, specialPrice, people,teast,assess,isHot){
            var _title = title,
                _price = price,
                _people = people;//people,
                _teast = teast,
                _assess = assess;
                 var hotHtml = '<b>'+isHot+'</b>';
                _tmpHtml = "<div class='content'>"+hotHtml+"<img src='"+imgUrl+"' alt='' title=''><h2>"+_title;

                 if (isSpecial == view_const_dish_SPECIAL_PRICE_YES) {
                     _tmpHtml += "<i>"+specialPrice+"</i><del>"+_price+"</del>";
                 } else {
                     _tmpHtml += "<i>"+_price+"</i>";
                 }

                if (_people) {
                    _tmpHtml += "<span>"+_people+"人点过</span>";
                }
                _tmpHtml += "</h2>";

                if (_teast) {
                    _tmpHtml += "<h3>口味："+_teast+"</h3>";
                }

                if (_assess) {
                    _tmpHtml += "<p>"+_assess+"</p>";
                }

                _tmpHtml += '</div>';
 				
            MDialog.popupCustom(_tmpHtml,true,true);
        }

        window.addEventListener("DOMContentLoaded", function(){
            getAllList();
            setHeight();
        }, false);
        window.onresize = function(){setHeight();}
    </script>

<script>
$(document).ready(function(){
	$('#shop_notices').click(function(){
		$('#shop_notices').hide();
		$('#box1').removeClass('p40');
		
	});
	$('#my_menu').click(function(){
		addToMenu();
	});
});
	
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script>
</body>
</html>
