<div data-role="header" data-theme="c" data-position="fixed" data-tap-toggle="false" class="ui-header ui-bar-c ui-header-fixed slidedown" role="banner">
    <h1 class="ui-title" role="heading" aria-level="1">
        <div class="scroll-reward-info">
            <ul style="margin-top: 0px;">
                <li>恭喜131****5861获得二奖一千元</li>
                <li>恭喜186****5464获得三奖五百元</li>
                <li>恭喜134****2342获得大奖一万元</li>
                <li>恭喜135****8198获得三奖五百元</li>
                <li>恭喜131****5200获得二奖一千元</li>
                <li>恭喜135****5200获得大奖一万元</li>
                <li>恭喜136****5200获得大奖一万元</li>
                <li>恭喜131****5200获得大奖一万元</li>
                <li>恭喜186****3911获得三奖五百元</li>
                <li>恭喜185****0834获得三奖五百元</li>
            </ul>
        </div>
    </h1>
</div>