<div data-role="footer" data-tap-toggle="false" data-position="fixed" data-theme="a" style="height: 30px; border-top: 0px; background: url(./source/modules/ifruit/template/images/bg-mokuai.jpg) repeat-x left; " class="ui-footer ui-bar-a ui-footer-fixed slideup" role="contentinfo">
    <div class="scrollDiv" style="float: left; width: 62%;  color:#fff; text-shadow: black 0px 1px 0px ;float:left;overflow: hidden;">
        <ul style="margin-top:0;font-size: 12px; padding-left:5px;">
        </ul>
    </div>
    <div class="footer_logo"><a style=" text-decoration: none; color: #AAFF00; font-size:12px;font-family: '宋体'; font-weight: lighter;" href="#" target="_blank" class="ui-link">{$detail['copyright']}</a></div>
</div>