{template 'head'}
    <div class="websiteWrapper">
        <div class="headerOuterWrapper homePageHeaderOuterWrapper">
            <div class="headerWrapper">
                <a href="{php echo $this->createMobileUrl('index')}" class="mainMenuButton"></a>
            </div>
            <div class="mainMenuOuterWrapper">
                <ul class="mainMenuWrapper">
                                 
         {loop $this->turlar $row}
                    <li   {if $row['id']==$classid}class="currentPage"{/if}><a href="{php echo $this->createMobileUrl('list', array('classid' => $row['id']))}">{$row['name']}</a></li>
	{/loop}
                                                </ul>
            </div>
        </div>
        <div class="sliderOuterWrapper">
            <span class="sliderTopDeco"></span>
            <a href="{php echo $this->createMobileUrl('index')}" class="mainLogo">
                <img src="{$_W['attachurl']}{$_W['settings']['logo']}" alt="" />
            </a>
            <div class="sliderWrapper">
                <div class="mainSlider" id="mainSlider">
                   {loop $this->slide $row}
                    <a href="">
                        <img src="./source/modules/sheka/images/content/slide-{$row['id']}.jpg" alt="" />
                    </a>
   	{/loop}
                </div>
            </div>
        </div>
        <div class="pageWrapper homePageWrapper">
            <div class="pageContentWrapper">
                <h3 class="homePageTitle">{$_W['account']['name']}，新时代的送祝福神器！</h3>
                <div class="pageBreak"></div>
                <div class="recentProjectsOuterWrapper">
                    <div class="recentProjectsWrapper">
                        <h4 class="recentProjectsTitle">{php echo $this->turlar[$classid]['name']}</h4>
                        <div class="recentProjects">
                        
              {loop $list $row}
               <a href="{php echo $this->createMobileUrl('preview', array('id' => $row['id']))}" class="recentProject">
                        <p class="recentProjectImage">
                            <img src="{$_W['attachurl']}{$row['thumb']}" alt=""  />
                        </p>
                        <h4 class="recentProjectTitle">{$row['title']}</h4>
                    </a>
                       	{/loop}

                                        </div>
                    </div>
                </div>
   
            </div>
        </div>
        
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js?v=20150120"></script>
<script>


     
  wx.config({
       appId: '{php echo $_W["account"]["key"]}',
      //appId: '',
      timestamp: {php echo $timestamp},
      nonceStr: '{php echo $nonceStr}',
      signature: '{php echo $signature}',
    jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
      ]
  });
  
  
  
  

	wx.ready(function () {
 
	  var shareData = {
		title: '{$_W['settings']['name']}',
		desc: '{$_W['settings']['name']}',
	
		link: document.URL,
		imgUrl: '{$_W['attachurl']}{$_W['settings']['logo']}',
		trigger: function (res) {
			//alert('用户点击分享到QQ');
		},
		complete: function (res) {
			//alert(JSON.stringify(res));
		},
		success: function (res) {
			//alert('已分享');
			//window.location.href="http://mp.weixin.qq.com/s?__biz=MzA5MzIyMTI4MA==&mid=202471938&idx=1&sn=982b4f87b888e5cedf98e27130cd76d5#rd";
		//  window.location.href="http://baidu.com#rd";
		},
		cancel: function (res) {
		// window.location.href="http://baidu.com#rd";
		//	window.location.href="http://mp.weixin.qq.com/s?__biz=MzA4MjgzNTYyOA==&mid=209085884&idx=1&sn=bda1d2243ae2a314225df9137efba465#rd";
		},
		fail: function (res) {
		}
	  };
	  
	  
	  wx.onMenuShareAppMessage(shareData);
	  wx.onMenuShareTimeline(shareData);
	  wx.onMenuShareQQ(shareData);
	  wx.onMenuShareWeibo(shareData);
	});
</script>
        
{template 'foot'}