
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>那些年背过的古诗</title>
      <link rel="stylesheet" type="text/css" href="survey/survey.css?v=1.2">
   </head>
<body>
<div class="window">
        <div class="page-loading-mask"></div>

    <div class="pages">
        <div class="page home">
            <div class="page-content">

                <h1></h1>
                <div class="start"><div><span> 开始 </span></div></div>
            </div>
        </div>
        <div class="page result">
            <div class="page-content">
                <div class="score">
                    <b>60</b>
                    <span>你的<i>geek</i>指数</span>
                </div>
                <p class="discription"></p>
                <ul class="options">
                    <li><span class="share">给好友看看</span></li>
                    <li>再玩一次</li>
                    <li>点击进入微信公众号</li>
                </ul>
            </div>
        </div>
    </div>
   <div class="share_overmask">
    <div class="share_arrow"></div>
    <div class="share_words"></div>
   </div>
</div>


<script>
window.page_config = {
    "subject":[
    {"voteid":"10008197","subjectid":"16424","title":"请补全下面这首诗？","desc":"床前明月光，__________；<br />举头望明月，低头思故乡。","answer":"","option":[{"voteid":"10008197","subjectid":"16424","optionid":"61333","title":"很像地上霜","score":"0","desc":""},{"voteid":"10008197","subjectid":"16424","optionid":"61334","title":"于是想婆娘","score":"0","desc":""},{"voteid":"10008197","subjectid":"16424","optionid":"61335","title":"地上鞋两双","score":"0","desc":""},{"voteid":"10008197","subjectid":"16424","optionid":"61336","title":"疑是地上霜","score":"0","desc":""}]},
    {"voteid":"10008197","subjectid":"16425","title":"刚刚这首五言绝句叫什么名字？它的作者是谁？","desc":"","answer":"","option":[{"voteid":"10008197","subjectid":"16425","optionid":"61337","title":"《静夜思》，作者李白","score":"0","desc":""},{"voteid":"10008197","subjectid":"16425","optionid":"61338","title":"《宿建德江》，作者孟浩然","score":"0","desc":""},{"voteid":"10008197","subjectid":"16425","optionid":"61339","title":"《月》，作者薛涛","score":"0","desc":""}]},
    {"voteid":"10008197","subjectid":"16426","title":"这首诗表达了什么？","desc":"","answer":"","option":[{"voteid":"10008197","subjectid":"16426","optionid":"61341","title":"一个男人的寂寞心情","score":"0","desc":""},{"voteid":"10008197","subjectid":"16426","optionid":"61342","title":"他想媳妇了","score":"0","desc":""},{"voteid":"10008197","subjectid":"16426","optionid":"61343","title":"他想亲人了","score":"0","desc":""},{"voteid":"10008197","subjectid":"16426","optionid":"61344","title":"记不得","score":"0","desc":""}]}],

    "result":[
        {"range_start":"0","range_end":"6","conclusion":"继续背","summary":"背不到不准走！<br />关注“西昌”微信公众号，赢取薰衣草小熊！"},
        {"range_start":"10","range_end":"16","conclusion":"加油背","summary":"背不到不准走！<br />关注“西昌”微信公众号，赢取薰衣草小熊！"},
        {"range_start":"20","range_end":"26","conclusion":"使劲背","summary":"背不到不准走！<br />关注“西昌”微信公众号，赢取薰衣草小熊！"},
        {"range_start":"30","range_end":"35","conclusion":"诗圣","summary":"背不到不准走！<br />关注“西昌”微信公众号，赢取薰衣草小熊！"}
        ],"show_score":false,"share":{"icon":"image/icon.jpg","title":"巴赫式自拍你体验了吗？快来测测你适合哪种自拍吧！","abstract":"巴赫式自拍你体验了吗？快来测测你适合哪种自拍吧！"},"weixin":{"username":"","nickname":""},"style":{"color":"#be825d","cover":"image/cover.jpg","banner":"image/banner.jpg","color_action":"#666","color_result":"#E84C36"},"index":{"name":""},"next":{"title":"点击赢取 薰衣草小熊","url":"#"},"publish_url":"#","voteid":"10008197"};
</script>
  <script type="text/javascript" src="js/require.js" charset="UTF-8"></script>
   <script type="text/javascript" src="survey/survey.js?v=1.2" charset="UTF-8"></script>
 </body>
</html>