{template 'common/header'}
<div class="main">
<ul class="nav nav-tabs">
  <li{if $_GPC['do'] == 'cslist'} class="active"{/if}><a href="{php echo  $this->createWebUrl('cslist');}">坐席管理</a>
  </li>
</ul>
	<div class="search">
		<form action="{php echo $this->createWeburl('cslist')}" method="post">
		  <table class="table table-bordered tb">
			<tbody>
				<tr class="span6">
					<th class="span2">显示客服名</th>
					<td class="span2">
						<input class="span2" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
					</td>
                    <td class="span2">
                    <button class="btn pull-right span2"><i class="icon-search icon-large"></i> 搜索</button>
                    </td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div style="padding:15px;">
		<p>
        <a href="{php echo $this->createWeburl('csadd')}"  class="btn"><i class="icon-plus-sign-alt" ></i>手工添加客服</a>
        </p>
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th width="85"  >客服工号</th>
					<th width="41" >显示客服名</th>
					<th width="42" >姓名</th>
					<th width="85" >openid </th>
					<th width="41" >状态</th>
					<th width="42" >服务时间段</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['workid']}</td>
					<td>{$item['nickname']}</td>
					<td>{$item['realname']}</td>
					<td>{$item['openid']}</td>
					<td><span class="label">{if $item['busy']==1}在线{elseif  $item['busy']==0}下线 {else}忙碌{/if}</span></td>
					<td>{$item['start_time']}~{$item['end_time']}</td>
					<td>
                
                    <a href="{php echo $this->createWebUrl('csedit', array('id' => $item['id']))}" class="btn btn-small" title="编辑"><i class="icon-edit"></i></a>
						<a onclick="return confirm('确认删除该客服？');return false;" href="{php echo $this->createWebUrl('delcs', array('id' => $item['id']))}" class="btn btn-small" title="删除"><i class="icon-remove"></i></a></td>
				</tr>
				{/loop}

				<td colspan="10">
					<input name="token" type="hidden" value="{$_W['token']}" /></td>
			</tr>
		</table>
		{$pager}
	</div>
</div>
{template 'common/footer'}