{template 'common/header'}
<ul class="nav nav-tabs">
	<li ><a href="{php echo create_url('site/module', array('do' => 'Kefu','op'=>'post','name' => 'we7car','weid'=>$_W['weid']))}">添加客服</a></li>	
	<li class="active"><a href="{php echo create_url('site/module', array('do' => 'Kefu', 'name' => 'we7car','weid'=>$_W['weid']))}">销售管理</a></li>		
</ul>
	
	<div class="main">
		<div class="category">
 			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:10px;"></th>
						<th style="width:60px;">显示顺序</th>
						<th style="width:60px;">姓名</th>
						<th style="width:120px;">电话</th>
						<th style="width:60px;">售前</th>
						<th style="width:60px;">售后</th>
						<th style="width:80px;">设为显示</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{loop $list $v} 
                  <tr>
						<td></td>
						<td><input type="text" class="span1" name="listorder" value="{$v['listorder']}"></td>
						<th>{$v['kefuname']}</th>
						<th>{$v['kefutel']}</th>
						<th>{if $v['pre_sales']} 是 {else} 否 {/if}</th>
						<th>{if $v['aft_sales']} 是 {else} 否 {/if}</th>
						<td>{if $v['status']} 显示 {else} 隐藏 {/if}</td>
						<td><a href="{php echo create_url('site/module', array('do' => 'Kefu','op'=>'post', 'name' => 'we7car','weid'=>$weid,'id'=>$v['id']));}">编辑</a>&nbsp;&nbsp;
						<a href="{php echo create_url('site/module', array('do' => 'Kefu','op'=>'del', 'name' => 'we7car','weid'=>$weid,'id'=>$v['id']));}" onclick="return confirm('确认删除此客服人员？');return false;">删除</a></td>
					</tr>
				{/loop} 
					<tr>
						<td></td>
						<td colspan="7">
							<a href="{php echo create_url('site/module', array('do' => 'Kefu','op'=>'post', 'name' => 'we7car','weid'=>$weid));}"><i class="icon-plus-sign-alt"></i> 添加客服人员</a>
						</td>
					</tr>
 
				</tbody>
			</table>
 		</div>
    </div>
{template 'common/footer'}
