<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="”apple-mobile-web-app-capable”" content="”yes”">
<meta content="telephone=no" name="format-detection"> 
<title>首页-春节节模块之压岁钱</title>
<link href="./source/modules/wdlredpacket/template/images/style.css" rel="stylesheet" type="text/css">
<style>
body{ background:#04113d ;
 background-size:cover;
 padding:0;
margin:0;
}
body {
	display: block;
	margin: 0;
	padding:0;
	background-size:100% auto;
	background-repeat:no-repeat;
	background-color:rgb(68,0,2);
}
.power-by{ font-size:1.2em; text-align:center; line-height:30px; color:#E9E900;}

</style>
</head>
<body>
<a href="{php echo $this->createMobileUrl('lottery', array('id' => $id))}" style="text-decoration: none"><img src="./source/modules/wdlredpacket/template/images/KiZ49Z9UiY4L9Lmj9JoQmi122mWb62.jpg" width="100%"></a>
<div class="power-by">
	@{$_W['account']['name']}
</div>

</body>
</html>