




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>


<title>澳乐双11攒钱游戏</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="This is my page">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1.0,user-scalable=no">
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible"
	content="IE=10; IE=9; IE=8; IE=7; IE=EDGE">
<meta name="robots" content="index,follow" />
<link rel="stylesheet" type="text/css"
	href="./source/modules/redpacket/css/al_base_201410290000.css">
<link rel="stylesheet" type="text/css"
	href="./source/modules/redpacket/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
	href="./source/modules/redpacket/css/sweet-alert.css">

<style>
.cardList {
	position: relative;
	width: 285px;
	height: 180px;
	margin: 20px auto 20px;
}

a:hover, a:focus {
color: #ffffff;
text-decoration: none;
}



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    width:100%;
    font: 16px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}
a { text-decoration: none }
input { border:none;  padding:10px; color:#333;width:90%;}
body { overflow-x:hidden}
#mcover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);display:none;z-index:20000;}
#mcover img{position:fixed;right: 18px;top:5px;width:260px;height:180px;z-index:20001;}
.container {
    width:90%;padding:10px;overflow:hidden;
    margin:auto; text-align: center;
}
.block { display:block; width:90%; margin:auto;margin-top:10px;padding:10px 10px 10px 10px;; border-radius: 5px; }
.white { background:#fff; color:#000}
.btn { background-color:#0000ff;color:#fff;}
.n { color:red; font-size:16px;}
p { margin-top:10px; font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;}
.link { color:#fff; }
.join { width:100%;}


</style>

</head>

<body>
	<div class="topBanner">
		<div class="con">
			<div class="banner01">
				<a
					href="http://dev.aoliday.com/jsp/doubleeleven/rule.jsp?openid=oSrqljg22QMuQKgmMH96BCcvfrnA&time=1415715792837"
					class="helpLink"></a>
			</div>
		</div>
	</div>

	<div >
		

	<div class="container block white">
        <p style="font-size:18px/1.5em"><b>活动时间:</b></p><p>
        </p><p>2014-11-06 到 2014-11-19</p>
    </div>
    
    <div class="container block white">
        <p style="font-size:18px/1.5em"><b>活动规则:</b></p>
        <p></p><p style="white-space: normal;">1.参与本次活动请使用微信客户端参与，每个用户只能参与一次；</p><p style="white-space: normal;">2.活动是以“助力一下”的形式帮朋友抢话费卡，每助力一次，话费卡就会增加相应的钱数；</p><p style="white-space: normal;">3.话费数量有限，活动具有随机性，请谨慎参加；</p><p style="white-space: normal;">4.本次活动共有四种话费卡：100元、200元、500元和1000元，移动、联通和电信通用；</p><p style="white-space: normal;">5.奖励规则：如果数值不到100元不可获得奖励、100-200元可以获得100元话费卡、200-500可以获得200元话费卡、500-1000可以获得500元话费卡、1000元以上可以获得1000元话费卡；</p><p style="white-space: normal;">6.奖品发放时间：在活动结束后3个工作日内全部发放。</p><p style="white-space: normal;">7.本次活动所用话费充值卡均由三亚微生活采购于各大通讯运营商，本次活动与通讯运营商无关。本次活动由【三亚微生活】公众号官方微信举办，最终解释权归本公司</p><p style="white-space: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;"><br></p><p></p>
    </div>
    
    
    
    <div class="container block white">
        <p style="font-size:18px/1.5em"><b>活动奖品:</b></p>
        <p>
                    </p><p>收集 
            <span style="color:red;font-weight:bold;">100.00 </span>
            元及以上:   
             <b>奖品:</b>100元话费充值卡 
             
                    
        </p>
            
                    <p>收集 
            <span style="color:red;font-weight:bold;">200.00 </span>
            元及以上:   
             <b>奖品:</b>200元话费充值卡 
             
                    
        </p>
            
                    <p>收集 
            <span style="color:red;font-weight:bold;">500.00 </span>
            元及以上:   
             <b>奖品:</b>500元话费充值卡 
             
                    
        </p>
            
                    <p>收集 
            <span style="color:red;font-weight:bold;">1,000.00 </span>
            元及以上:   
             <b>奖品:</b>1000元话费充值卡 
             
                    
        </p>
            
      </div>
    
    
    
	</div>


		<a href="javascript:;" class="btnLink" >关注公众账号</a>
	


	<div class="maskTip">
		<div class="mask"></div>
		<div class="con_2">
			<div class="tipText"></div>
			<p>
				点击右上角菜单按钮<br />选择“分享到朋友圈”
			</p>
			<a href="javascript:;" class="btnLink" id="Close">确定</a>
		</div>
	</div>
	
	


	<input type="hidden" id="myTotalPrize" value="0.0" />
	<script type="text/javascript" src="./source/modules/redpacket/js/zepto.min.js"></script>
	<script type="text/javascript" src="./source/modules/redpacket/js/wxShare.js"></script>
	
		<script type="text/javascript" src="./source/modules/redpacket/js/sweet-alert.min.js"></script>
	<script>
		$(function() {
			
			
			$("#a_submit").on("click",function(){
				var name=$("#uname").val();
				var tel=$("#tel").val();
			
				
			    
		
				
				
				if(name==""){
					
					swal({   title: "错误!",   text: "用户名不能为空!",   type: "error",   confirmButtonText: "确定" });
					
					return ;
				}
				
				if(tel==""){
					swal({   title: "错误!",   text: "请输入手机号码哦!",   type: "error",   confirmButtonText: "确定" });
					return ;
				}
				 var myreg = /^1\d{10}$/;
			        if(!myreg.test(tel)) {
			        	swal({   title: "错误!",   text: "请输入有效的手机号码!",   type: "error",   confirmButtonText: "确定" });
			           
			            return ;
			        }
		
			        
			        var submitData={
							'pid':"{$packet['id']}",
							'openid':"{$userInfo['openid']}",
							'sex':"{$userInfo['sex']}",
							'nickname':"{$userInfo['nickname']}",
							'headimgurl':"{$userInfo['headimgurl']}",
							'uname':name,
							'tel':tel
		
					}
			        
			        
			   
        		
			        
			        
			        
			        
			        $.post('{php echo $this->createMobileUrl('Regist')}',submitData,function(res){
			        	
			        	if(res.code==200){
			        		
			        	
			        		
			        		 swal(
			     			    	{   
			     			    	title: "提示!", 
			          				text: "活动报名成功!", 
			          				type: "success", 
			          				showCancelButton: false,   
			          				confirmButtonColor: "#DD6B55",  
			          				confirmButtonText: "去瞅瞅我的红包",
			          				closeOnConfirm: false, 
			          				closeOnCancel: false
			          				}, 
			          				function(isConfirm){   
			          					
			          					if (isConfirm) {    
			          						
			          						 location.reload();
			          					}else {  }
			          			});
			     			
			        		
			        		
			        		
			        	}else{
			        		swal({   title: "错误!",   text:res.msg ,   type: "error",   confirmButtonText: "确定" });
			        		
			        	}
			        	
			        },'json');
			        
					
					
			        
			        
				
				
				
			});
			
			
			
			
			
			
			
			function onBridgeReady2() {
				WeixinJSBridge.call('showOptionMenu');
			}
			if (typeof WeixinJSBridge == "undefined") {
				if (document.addEventListener) {
					document.addEventListener('WeixinJSBridgeReady',
							onBridgeReady2, false);
				} else if (document.attachEvent) {
					document.attachEvent('WeixinJSBridgeReady', onBridgeReady2);
					document.attachEvent('onWeixinJSBridgeReady',
							onBridgeReady2);
				}
			} else {
				onBridgeReady2();
			}
		});
	</script>
</body>
</html>