<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$set['shop_name']}</title>
<link href='{RES}css/global.css' rel='stylesheet' type='text/css' />
<link href='{RES}css/style.css' rel='stylesheet' type='text/css' />
<script type='text/javascript' src='{RES}js/jquery-1.7.2.min.js'></script>
<script type='text/javascript' src='{RES}js/global.js'></script>
 </head>
<body>