
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{RES}src/jQuery.js?2014-02-20-1"></script>
<title></title>
    <link href="{RES}css/bootstrap_min.css" rel="stylesheet" />
    <link href="{RES}css/bootstrap_responsive_min.css" rel="stylesheet" />
    <link href="{RES}css/style.css" rel="stylesheet" />
    <link href="{RES}css/todc_bootstrap_button.css" rel="stylesheet" />
    <link href="{RES}css/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="{RES}css/themes.css" rel="stylesheet" />
    <link href="{RES}css/plugins/uploadify/uploadify_t.css" rel="stylesheet" />
    <link href="{RES}css/plugins/chosen/chosen.css" rel="stylesheet" />
    <link href="{RES}css/inside.css" rel="stylesheet" />
    <link href="{RES}css/plugins/chosen/chosen.css" rel="stylesheet" />
    <script src="{RES}src/plugins/jquery-ui/jquery_ui_widget_min.js"></script>
    <script src="{RES}src/bootstrap_min.js"></script>
    <script src="{RES}src/plugins/form/jquery_form_min.js"></script>
    <script src="{RES}src/plugins/validation/jquery_validate_min.js"></script>
    <script src="{RES}src/plugins/validation/jquery_validate_methods.js"></script>
    <script src="{RES}src/plugins/wizard/jquery_form_wizard_min.js"></script>
    
    <script src="{RES}src/plugins/daterangepicker/moment_min.js"></script>
    <script src="{RES}src/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="{RES}src/jquery_ui_custom.js"></script>
    <script src="{RES}src/plugins/uploadify/jquery_uploadify.js"></script>
    <script src="{RES}src/plugins/chosen/chosen_jquery_min.js"></script>
    <script src="{RES}src/plugins/zeroclipboard/zeroclipboard_min.js"></script>
    <script src="{RES}src/inside.js"></script>

</head>
<body>