<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="./source/modules/we7car/style/css/reset.css?2013-11-25-1" media="all" />
		<link rel="stylesheet" type="text/css" href="./source/modules/we7car/style/css/common1.css?2013-11-25-1" media="all" />
		<script type="text/javascript" src="./source/modules/we7car/style/js/jquery152_min.js?2013-11-25-1"></script>
		<script type="text/javascript" src="./source/modules/we7car/style/js/jquery_easing.js?2013-11-25-1"></script>
		<script type="text/javascript" src="./source/modules/we7car/style/js/com_clanmo_gallery_min.js?2013-11-25-1"></script>
		<script type="text/javascript" src="./source/modules/we7car/style/js/swipe.js?2013-11-25-1"></script>
		<title>全部车型</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<!-- Mobile Devices Support @begin -->
		<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="0" http-equiv="expires">
		<meta content="telephone=no, address=no" name="format-detection">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<!-- Mobile Devices Support @end -->
		<style>
		img{width:100%!important;}
		</style>
	</head>
	<body onselectstart="return true;" ondragstart="return false;">
		<script type="text/javascript">/*<![CDATA[*/var isTablet = false;/*]]>*/</script>
		<body class="portrait">
			<div class="header">
				<div class="logo">
					{if !empty($car_logo)}
					<img src="{$_W['attachurl']}{$car_logo}" width="213" height="29" alt="" style="width:auto!important;max-width:213px;">
					{/if}
				</div>
 			</div>
			<span class="gradient_h_wbw"></span>
			<div class="top">
				<div id="roundabout_container" class="relative">
					<a id="scrollLeft__7f8fc196" class="scrollLeft__7f8fc196 btn_ra_prev"></a>
					<a id="scrollRight__7f8fc196" class="scrollRight__7f8fc196 btn_ra_next"></a>
					<div id='roundabout__7f8fc196' class="ofh">
						<ul class="list_ul_top">
							{loop $clist $row}
							<li data-start="start" >
								<a href="{php echo  create_url('index/module', array('do' => 'type', 'name' => 'we7car', 'id' => $rid,'sid'=>$row['id'],'from_user' => $_GPC['from_user']))}{php echo  create_url('index/module', array('do' => 'type', 'name' => 'we7car', 'id' => $rid,'sid'=>$row['id'],'from_user' => $_GPC['from_user']))}"><span>{$row['subtitle']}</span></a>
							</li>
							{/loop}
							
							
						</ul>
					</div>
				</div>
				<span class="gradient_h_wbw"></span>
				<script type="text/javascript">
				/* <![CDATA[ */
				$(window).load(function() {
					var roundabout = new Gallery({id: 'roundabout__7f8fc196',type: 'roundabout',leftClass: 'scrollLeft__7f8fc196',rightClass: 'scrollRight__7f8fc196',});});
				/* ]]> */
				</script>
				
				<div class="stage_container relative">
					<article id="indicator_36eea047" class="indicator" data-maxBullets="8">
					{loop $car['thumb_url'] $key $row}
					{if $key==0}
						<span class="ind_a"></span>
					{else}
						<span></span>
					{/if}
					{/loop}
					</article>
					<div id="stage_36eea047" class="ofh">
						<ul class="list_ul_scroll">
							{loop $car['thumb_url'] $row}
							<li data-itemid="1" data-start="start" >
								<img alt="" src="{$_W['attachurl']}{$row}" data-touchable="touchable"/>
							</li>
							{/loop}
						</ul>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					new Swipe(document.getElementById('stage_36eea047'), {
						speed:500,
						auto:3000,
						callback: function(){
							var lis = $("#indicator_36eea047 span");
							lis.removeClass("ind_a").eq(this.index).addClass("ind_a");
						},
						callback2: function(){
							console.log("user op");
						}
					});
				});
			</script>
		</div>
		<!-------------------- 车系列表 begin ----------------------->
		<!-------------------- 车型列表 begin ----------------------->
		<!-------------------- 车型详情 begin ----------------------->
		<div class="main" style="padding-top: 10px;">
			<ul class="car_detail">
				<!--div style="margin:5px;border: 1px solid #ccc;line-height:35px;text-indent:10px;border-radius:5px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));-webkit-box-shadow: 0 1px 1px #fff;">
					<a href="{php echo  create_url('index/module', array('do' => 'index', 'name' => 'quanjing', 'id' => 31,'from_user' => $_GPC['from_user']))}" style="color:#666;display:block;">特别关注：360全景看车</a>
				</div-->
				<table>
					<tr>
						<td>指导价：</td>
						<td>{$car['price1']}万</td>
					</tr>
					<tr>
						<td>排量：</td>
						<td>{$car['output']}</td>
					</tr>
					<tr>
						<td>年款：</td>
						<td>{$car['pyear']}</td>
					</tr>
					<tr>
						<td>经销商报价：</td>
						<td>{$car['price2']}万</td>
					</tr>
					<tr>
						<td>档位：</td>
						<td>{$car['gearnum']}</td>
					</tr>
					<tr>
						<td>变速箱：</td>
						<td>{$car['gear_box']}</td>
					</tr>
				</table>
				<li class="box group_btn">
					<div><a href="{php echo  create_url('mobile/module', array('do' => 'Kefu', 'name' => 'we7car', 'weid' => $weid,'from_user' => $from_user))}"" class="gray">联系销售</a></div>
					<div><a href="{php echo  create_url('mobile/module', array('do' => 'Yuyue', 'name' => 'we7car', 'weid' => $weid,'from_user' => $from_user))}">预约试驾</a></div>
				</li>
			</ul>
		</div>
		<!-------------------- end ----------------------->
		<footer style="text-align:center;line-height:20px;">
			&copy;{if empty($_W['account']['name'])}微新星团队{else}{$_W['account']['name']}{/if}
		</footer>
		<footer class="nav_footer">
			<ul class="box">
				<li><a href="javascript:history.go(-1);" >返回</a></li>
				<li><a href="javascript:history.go(1);" >前进</a></li>
				<li><a href="{php echo 	create_url('mobile/channel', array('name' => 'index', 'weid' => $_W['weid']))}">首页</a></li>
				<li><a href="javascript:location.reload();" >刷新</a></li>
			</ul>
		</footer>
 <div mark="stat_code" style="width:0px; height:0px; display:none;"></div>
</body>
</html>