<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="alert alert-block alert-new">
	<table>
		<tbody>
			<tr>
				<th></th>
				<td></td>
			</tr>
			<tr>
				<th>活动图片</th>
				<td>
					<div id="" class="uneditable-input reply-edit-cover">
						<div class="detail">
							<span class="pull-right">大图片建议尺寸：700像素 * 300像素</span>
							<input type="button" id="scratchcard-picture" fieldname="picture{$namesuffix}" class="btn btn-mini reply-edit-cover-upload" value="<i class='icon-upload-alt'></i> 上传" style="" />
							<button type="button" class="btn btn-mini reply-news-edit-cover-remove" id="upload-delete" onclick="doDeleteItemImage(this, 'scratchcard-picture-value')" style="{if empty($reply['picture'])} display:none;{/if}"><i class="icon-remove"></i> 删除</button>
						</div>
						{if !empty($reply['picture'])}
						<input type="hidden" name="picture-old" value="{$reply['picture']}">
						<div id="upload-file-view" class="upload-view">
							<input type="hidden" id="scratchcard-picture-value" value="{$reply[picture]}">
							<img width="100" src="{$_W['attachurl']}{$reply['picture']}">&nbsp;&nbsp;
						</div>
						{else}
						<div id="upload-file-view"></div>
						{/if}
					</div>
				</td>
			</tr>
			<tr>
				<th>活动简介</th>
				<td>
					<textarea style="height:150px;" name="description" class="span7" cols="60">{$reply['description']}</textarea>
					<div class="help-block">用于图文显示的简介</div>
				</td>
			</tr>
			<tr>
				<th>活动规则</th>
				<td>
					<textarea id="rule" style="height:150px;" name="rule" class="span7" cols="60">{$reply['rule']}</textarea>
					<div class="help-block">活动的相关说明和活动奖品介绍。</div>
				</td>
			</tr>
			<tr>
				<th>重复抽奖周期</th>
				<td>
					<span class="uneditable-input span7">每
						<input type="text" value="{$reply['periodlottery']}" class="span1" name="periodlottery" placeholder="填天数">
						天，抽奖
						<input type="text" value="{$reply['maxlottery']}" class="span1" name="maxlottery" placeholder="填次数">
						次
					</span>
					<div class="help-block">天数为0，永远只能砸N次（这里N为设置的次数）。</div>
				</td>
			</tr>
			<tr>
				<th>中奖奖励积分</th>
				<td>
					<input type="text" value="{$reply['hitcredit']}" class="span7" name="hitcredit">
					<div class="help-block">当用户中奖时，给予用户的积分。为0时表示不给。</div>
				</td>
			</tr>
			<tr>
				<th>未中奖奖励积分</th>
				<td>
					<input type="text" value="{$reply['misscredit']}" class="span7" name="misscredit">
					<div class="help-block">当用户未中任何奖时，给予用户的积分。为0时表示不给。</div>
				</td>
			</tr>
			<tr>
				<th>刮刮卡背景</th>
				<td>
					{php echo tpl_form_field_image('bg', $reply['background'], './source/modules/scratchcard/template/images/bg.png');}
					<div class="help-block">长310像素，宽190像素。超过大小会自动裁剪</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div id="append-list" class="list">
	{if !empty($award)}
		{php $prize = 1;}
		{loop $award $item}
		<div class="item" id="scratchcard-item-{$item['id']}">
		{php include $this->template('item');}
		</div>
		{php $prize++;}
		{/loop}
	{/if}
	</div>
	<div class="reply-news-edit-button"><a href="javascript:;" onclick="scratchcardHandler.buildAddForm('scratchcard-form-html', $('#append-list'))" class="btn"><i class="icon-plus"></i> 添加奖品</a></div>
</div>
<script type="text/html" id="scratchcard-form-html">
{php unset($item); include $this->template('item');}
</script>
<script type="text/javascript">
kindeditor($('#rule'));
kindeditorUploadBtn($('#scratchcard-picture'));

var scratchcardHandler = {
	'buildAddForm' : function(id, targetwrap) {
		var obj = buildAddForm(id, targetwrap);
		obj.html(obj.html().replace(/\(wrapitemid\)/gm, obj.attr('id')));

		//中奖类型提示
		$("#append-list .item #award-inkind label").mouseenter(function() {
			$(this).popover('show');
		});
		$("#append-list .item #award-inkind label").mouseout(function() {
			$(this).popover('hide');
		});
	}
};

function add_row() {
	$.getJSON('{php echo $this->createWebUrl('formdisplay')}', function(data){
		if (data.error === 0 && data.content.html != '') {
			$('#append-list').append(data.content.html);
			row = $('#'+data.content.id);
		}
	});
}
//奖品类型切换
$("#append-list").delegate("#award-inkind input", "click", function(){
	if($(this).val() == 0) {
		$(this).parents(".item").find(".num").css("display", "none");
		$(this).parents(".item").find("tr:eq(3),tr:eq(4)").show();
	} else {
		$(this).parents(".item").find(".num").css("display", "inline-block");
		$(this).parents(".item").find("tr:eq(3),tr:eq(4)").hide();
	}
});
</script>
