{template 'common/header'}

{template 'common'}

<div class="main">
    <ul class="nav nav-tabs">		
        <li><a href="{php echo $this->createWebUrl('paper');}">试卷管理</a></li>
        <li><a href="{php echo $this->createWebUrl('paper_type',array('op'=>'display'));}">添加试卷</a></li>
        <li class="active"><a href="{php echo $this->createWebUrl('paper_member',array('id'=>$paperid));}">考生查看</a></li>
        <!--<li><a href="{php echo $this->createWebUrl('paper', array('op'=>'edit'));}">添加试卷</a></li>-->
    </ul>
    <div class="search">
        <form action="site.php" method="get">
            <input type="hidden" name="act" value="module" />
            <input type="hidden" name="do" value="paper_member" />
            <input type="hidden" name="name" value="ewei_exam" />
            <input type="hidden" name="id" value="{$paperid}" />
            <table class="table table-bordered tb">
                <tbody>
                    <tr>
                        <th>姓名</th>
                        <td>
                            <input class="span6" name="username"  type="text" value="{$_GPC['username']}">
                        </td>
                    </tr>
                    <tr class="search-submit">
                        <td colspan="2">
                            <button class="btn pull-left btn-primary span2" style='margin-left:95px;'><i class="icon-search icon-large"></i> 搜索</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div style="padding:15px;">
     
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr><tr>
                    <!--<th class='with-checkbox'><input type="checkbox" class="check_all" /></th>-->
                    <th>编号</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>用时</th>
                    <th>得分</th>
                    <th>平均用时</th>
                    <th>平均分</th>
                    <th>考试时间</th>
                    <!--<th>操作</th>-->
                </tr>
            </thead>
            <tbody>
                {loop $list $item}
                <tr>
                    <!--<td class="with-checkbox">-->
                    <!--<input type="checkbox" name="check" value="{$item['id']}"></td>	-->
                    <td>{$item['id']}</td>
                    <td>{$item['username']}</td>
                    <td>{$item['mobile']}</td>
                    <td>{php echo format_use_time($item['times'])}</td>
                    <td>{$item['score']}</td>
                    <td>{php echo format_use_time($item['avtimes'])}</td>
                    <td>{$item['avscore']}</td>
                    <td>{php echo date('Y-m-d H:i:s', $item['createtime'])}</td>
                    <!--<td>-->
                        <!--<a href="{php echo $this->createWebUrl('paper_member',array('id'=>$item['id']))}" class="btn" rel="tooltip" title="考生查看"><i class="list-alt"></i>考生查看</a>-->
                        <!--<a href="{php echo $this->createWebUrl('paper',array('op'=>'editquestion','id'=>$item['id']))}" class="btn" rel="tooltip" title="编辑试题"><i class="list-alt"></i>编辑试题</a>-->
                        <!--<a class="btn" rel="tooltip" href="{php echo $this->createWebUrl('paper',array('op'=>'edit','id'=>$item['id']))}" title="编辑"><i class="icon-edit"></i></a>-->
                        <!--{if $item['status']==0}-->
                        <!--<a class="btn" title="显示" href="#" onclick="drop_confirm('您确定要显示此试卷吗?', '{php echo $this->createWebUrl('paper',array('op'=>'status','status'=>1, 'id'=>$item['id']))}');"><i class="icon-play"></i></a>                                       -->
                        <!--{elseif $item['status']==1}-->
                        <!--<a class="btn" title="隐藏" href="#" onclick="drop_confirm('您确定要隐藏此试卷吗?', '{php echo $this->createWebUrl('paper',array('op'=>'status','status'=>0, 'id'=>$item['id']))}');"><i class="icon-stop"></i></a>                                       														-->
                        <!--{/if}-->
                        <!--<a class="btn" rel="tooltip" href="#" onclick="drop_confirm('您确定要删除吗?', '{php echo $this->createWebUrl('paper',array('op'=>'delete', 'id'=>$item['id']))}');" title="删除"><i class="icon-remove"></i></a>-->
                    <!--</td>-->
                </tr>
                {/loop}
                <tr>
				<td colspan="9">
				
	                <!--<input type="button" class="btn btn-primary" name="deleteall" value="删除选择的" />-->
                    <!--<input type="button" class="btn btn-primary edit_all" name="showall" value="批量显示" />-->
                    <!--<input type="button" class="btn btn-primary edit_all" name="hideall" value="批量隐藏" />-->
				</td>
			</tr>
            </tbody>
            <input name="token" type="hidden" value="{$_W['token']}" />
        </table>
        {$pager}
    </div>
</div>

<script>
$(function(){

    $(".check_all").click(function(){
       var checked = $(this).get(0).checked;
       $("input[type=checkbox]").attr("checked",checked);
    });

	$("input[name=deleteall]").click(function(){
 
		var check = $("input:checked");
		if(check.length<1){
			message('请选择要删除的记录!','','error');
			return false;
		}
        if( confirm("确认要删除选择的记录?")){
		var id = new Array();
		check.each(function(i){
			id[i] = $(this).val();
		});
		$.post("{php echo create_url('site/module', array('do' => 'paper','op'=>'deleteall', 'name' => 'ewei_exam'))}", {idArr:id},function(data){
			if (data.errno ==0)
			{
				location.reload();
			} else {
				alert(data.error);
			}


		},'json');
		}

	});

    $(".edit_all").click(function(){
        var name = $(this).attr('name');
        //alert(name);return false;

        var check = $("input:checked");
        if(check.length<1){
            message('请选择要操作的记录!','','error');
            return false;
        }

        var id = new Array();
        check.each(function(i){
            id[i] = $(this).val();
        });
        $.post("{php echo create_url('site/module', array('do' => 'paper','op'=>'showall', 'name' => 'ewei_exam'))}", {idArr:id,show_name:name},function(data){
            location.reload();
        },'json');


    });

});
</script>
<script>
function drop_confirm(msg, url){
    if(confirm(msg)){
        window.location = url;
    }
}
</script>

{template 'common/footer'}
