{template 'common/header'}

{template 'common'}

<div class="main">
 <ul class="nav nav-tabs">        
     <li><a href="{php echo $this->createWebUrl('reserve');}">订单管理</a></li>
     <li class="active"><a href="{php echo $this->createWebUrl('reserve',array('op'=>'edit','id'=>$id));}">订单处理</a></li>
    </ul>
    
<form action="" class="form-horizontal form" method="post" enctype="multipart/form-data" onsubmit="return formcheck();">

    <input type="hidden" name="id" value="{$id}">
    <input type="hidden" name="oldstatus" id="oldstatus" value="{$item['reserve_stauts']}">

    <table class="tb">
        <tr>
            <td>
                <h4>学员信息</h4>
            </td>
        </tr>

        <tr>
            <th>姓名</th>
            <td>
                {$item['username']}
            </td>
        </tr>

        <tr>
            <th>手机</th>
            <td>
                {$item['mobile']}
            </td>
        </tr>

        <tr>
            <th>邮箱</th>
            <td>
                {$item['email']}
            </td>
        </tr>

        <tr>
            <td>
                <h4>课程信息</h4>
            </td>
        </tr>

        <tr>
            <th>课程标题</th>
            <td>
                {$item['title']}
            </td>
        </tr>

        <tr>
            <th>报名限制</th>
            <td>
                {if $item['ctype'] == 1}人数限制{else}时间限制{/if}
            </td>
        </tr>
        {if $item['ctype'] == 1}
        <tr>
            <th>限制人数</th>
            <td>
                {$item['ctotal']}人
            </td>
        </tr>
        <tr>
            <th>报名人数</th>
            <td>
                {$item['fansnum']}人
            </td>
        </tr>
        {else}
        <tr>
            <th>报名时间</th>
            <td>
                {php echo date('Y年m月d日 H:i',$item['starttime'])} 至 {php echo date('Y年m月d日 H:i',$item['endtime'])}
            </td>
        </tr>
        {/if}

        <tr>
            <th>授课讲师</th>
            <td>
                {$item['teachers']}
            </td>
        </tr>

        <tr>
            <th>授课开始时间</th>
            <td>
                {php echo date('Y年m月d日 H:i',$item['coursetime'])}
            </td>
        </tr>

        <tr>
            <th>授课时长</th>
            <td>
                {$item['times']}分钟
            </td>
        </tr>

        <tr>
            <th>订单时间</th>
            <td>
                {php echo date("Y-m-d H:i:s",$item['reserve_createtime']); }
            </td>
        </tr>

        <tr>
            <th>操作</th>
            <td>
                <select name="status" class="span2" id="status">

                    <option value="0" {if $item['reserve_stauts'] == 0 } selected="selected"{/if}>等待确认</option>

                    <option value="-1" {if $item['reserve_stauts'] == -1 } selected="selected"{/if}>订单取消</option>
                    
                    <option value="1" {if $item['reserve_stauts'] == 1 } selected="selected"{/if}>订单确认</option>
                    
                    <option value="2" {if $item['reserve_stauts'] == 2 } selected="selected"{/if}>订单拒绝</option>
                </select>

            </td>
        </tr>
        
        <tr>
            <th>备注</th>
            <td>
                <textarea style="height:100px;" class="span7 richtext-clone" name="msg" cols="70" id="reply-add-text">{$item['msg']}</textarea>
            </td>
        </tr>
        
        <tr>
            <th></th>
            <td>
                <button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
                <input type="hidden" name="token" value="{$_W['token']}" />
            </td>
        
        </tr>
    
    </table>
    
</form>

<script language="JavaScript">
    function formcheck(){
        var ok = true;
        {if $item['ctype'] == 1}
            var ctotal = {$item['ctotal']};
            var fansnum= {$item['fansnum']};
            var oldstatus = $("#oldstatus").val();
            var status = $("#status").val();
            if (status == 1 && oldstatus != 1) {
                if (fansnum >= ctotal) {
                    alert("预定人数已满，无法进行订单确认");
                    ok =false;
                    return false;
                }
            }
        {/if}
        return ok;
    }
</script>
{template 'common/footer'}
