{template 'common/header'}

<div class="main">
	<div style="padding:15px;">
		<h3 class="title">模块信息</h3>
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="max-width:10px;">标题</th>
					<th style="min-width:200px">信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>模块名称:</td>
					<td>聚友杀</td>
				</tr>
				<tr>
					<td>模块版本:</td>
					<td>1.3</td>
				</tr>
				<tr>
					<td>模块标识:</td>
					<td>quickshare</td>
				</tr>
				<tr>
					<td>模块功能:</td>
					<td>用户在微商城购物后，可邀请微信好友来帮忙杀价，邀请好友越多，商品折扣越多。</td>
				</tr>
				<tr>
					<td>模块作者:</td>
					<td>微动力</td>
				</tr>
				<tr>
					<td>版权所有:</td>
					<td>微动力</td>
				</tr>
				<tr>
					<td>适用版本:</td>
					<td>0.6向下兼容</td>
				</tr>
			</tbody>
		</table>

		<h3 class="title">操作步骤</h3>
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="max-width:10px;">步骤</th>
					<th style="min-width:200px">说明</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>第一步:进入微商城--添加商品</td>
					<td>添加宝贝-设置限时卖（只有参加了限时买的才可以参加聚友杀活动！）</td>
				</tr>
				<tr>
					<td colspan="2"><img src="http://bbs.b2ctui.com/data/attachment/forum/201411/20/154910kohcevjeh9jrgseh.jpg"></td>
				</tr>
					<tr>
					<td>第二步:进入聚友杀后台-编辑杀价折扣！</td>
			
				</tr>
				<tr>
					<td colspan="2"><img src="http://bbs.b2ctui.com/data/attachment/forum/201411/20/160148ioi0qu3up5hqs3ou.png"></td>
				</tr>
				<tr>
					<td>第二步:手机微信用户下单--点击聚友杀！</td>
			
				</tr>
				<tr>
					<td colspan="2"><img src="http://bbs.b2ctui.com/data/attachment/forum/201411/20/140638nmqhz4muccdmcqwc.png"></td>
				</tr>
				<tr>
					<td>第三步:选择商品订单--进入分享聚杀</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"><img src="http://bbs.b2ctui.com/data/attachment/forum/201411/20/154942xuueuz4o4xe0h20n.png"></td>
				</tr>
				<tr>
					<td>第四步:分享出去！！</td>
					<td>HI起来吧！拉你的朋友们杀价啦！</td>
				</tr>
								<tr>
						<td colspan="2"><img src="http://bbs.b2ctui.com/data/attachment/forum/201411/20/140642uyk3w98dsu1gurdf.png"></td>
				</tr>
			
			</tbody>
		</table>

		{if $_W['isfounder']}
		<h3 class="title">后续扩展功能:(管理员可见)</h3>
		{else}
		<h3 class="title">感谢您的使用!</h3>
		{/if}
	</div>
</div>
{template 'common/footer'}
