<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>占队砸蛋，大奖即开！</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta http-equiv="x-rim-auto-match" content="none">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="source/modules/cyd/template/style/global.css">
<link rel="stylesheet" type="text/css" href="source/modules/cyd/template/style/mobile.css">
<style>
body{ background:#ed3338;}
</style>
</head>
<body>
<section class="wrap">
  <div class="main shareBg">
    <div class="grid_320x194">
      <div class="shareBanner animated none"></div>
    </div>
    <div class="shareText">
      <p class="tc" style="font-size:36px; line-height:38px; height:38px; margin-bottom:16px;">恭喜</p>
      <p class="tc font_20" style="height:26px;" id="user">{$user_name}</p>
      <p class="tc font_20" style="height:26px; margin-bottom:24px;">你被耍了！</p>
      <p class="font_20" style="padding-left:12px; height:26px; line-height:26px;">原来你是第　　　个</p>
      <div class="bdPic"></div>
      <div class="bdnum" id="idNum">{$user_num}</div>
    </div>
    <div class="shareJt none"><img src="source/modules/cyd/template/images/shareJt.png" width="100%"></div>
    <div class="shareBtn"><a href="javascript:;"><img src="source/modules/cyd/template/images/shareBtn.png" width="100%"></a></div>
    
    <footer>
</footer>
 
  </div>
  <div id="shadow"></div>
</section>

 
<script src="source/modules/cyd/template/scripts/jquery-1.8.3.min.js"></script>
<script src="source/modules/cyd/template/scripts/jquery.easing.1.3.js"></script>
<script src="source/modules/cyd/template/scripts/jquery.iosslider.js"></script>

<script>

$(document).ready(function() {
//				aa();
				$('.iosSlider').iosSlider({
					snapToChildren: true,
					desktopClickDrag: true,
					keyboardControls: true,
					onSliderLoaded: sliderTest,
					onSlideStart: sliderTest,
                    onSlideChange:SlideChange,
					onSlideComplete: slideComplete,
					navNextSelector: $('.next'),
				    navPrevSelector: $('.prev'),
				});
				
			});

function SlideChange(args) {
    i = args.currentSlideNumber;

    $('.eggsTextTop li').removeClass("fadeInUpBig").hide().eq(i-1).show().addClass("fadeInUpBig");
	$('.eggsTextBot li').removeClass("fadeInUpBig02").hide().eq(i-1).show().addClass("fadeInUpBig02");
    
}
			
function aa(){
	setTimeout('bb()',5000);
}
function bb(){
	if(confirm('亲！还想再玩一次吗？')){
		window.lication.href = history.go(-1);
	}
}

function sliderTest(args) {
				try {
					console.log(args);
				} catch(err) {
				}
			}
function slideComplete(args) {
				
				$('.next, .prev').removeClass('unselectable');

			    if(args.currentSlideNumber == 1) {
			
			        $('.prev').addClass('unselectable');
			
			    } else if(args.currentSliderOffset == args.data.sliderMax) {
			
			        $('.next').addClass('unselectable');
			
			    }
			
			}		
			
var i=1;

//微信分享
var _Conf = {
	appid	:	"",
	img		:	"{$_W['siteroot']}source/modules/{$_GPC['name']}/icon.jpg",
	w		: 	"120",
	h		: 	"120",
	url		: 	"{$_W['siteroot']}{php echo $this->createMobileUrl('lottery', array('id' => $id))}",
	desc	: 	"茶叶蛋可以增强粉丝与公众号的互动、提升公众号的黏性，让你在短时间内迅速引爆人气。",
	title	: 	"一起砸蛋吧！！！"
};

function _ShareFriend() {
    WeixinJSBridge.invoke('sendAppMessage',{
          'appid': _Conf.appid,
          'img_url': _Conf.img,
          'img_width': _Conf.w,
          'img_height': _Conf.h,
          'link': _Conf.url,
          'desc': _Conf.desc,
          'title': _Conf.title
          }, function(res){
            _report('send_msg', res.err_msg);
		})
}
function _ShareTL() {
    WeixinJSBridge.invoke('shareTimeline',{
          'img_url': _Conf.img,
          'img_width': _Conf.w,
          'img_height': _Conf.h,
          'link': _Conf.url,
          'desc': _Conf.desc,
          'title': _Conf.title
          }, function(res) {
			_report('timeline', res.err_msg);
          });
}
function _ShareWB() {
    WeixinJSBridge.invoke('shareWeibo',{
          'content': _Conf.desc,
          'url': _Conf.url,
          }, function(res) {
          _report('weibo', res.err_msg);
          });
}
// 当微信内置浏览器初始化后会触发WeixinJSBridgeReady事件。
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function(argv){
            _ShareFriend();
      });

        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function(argv){
            _ShareTL();
            });

        // 分享到微博
        WeixinJSBridge.on('menu:share:weibo', function(argv){
            _ShareWB();
       });
}, false);			
			
			
			
</script>


<script>
$(function() {
	
//图片预加载
function loadImages(sources, callback) {
	var count = 0,
	images = {},
	imgNum = 0;
	for (src in sources) {
		imgNum++;
	}
	for (src in sources) {
		images[src] = new Image();
		images[src].onload = function() {
			if (++count >= imgNum) {
				callback(images);
			}
		}
//		images[src].src = sources[src];
	}
}

loadImages(['source/modules/cyd/template/images/Bg.gif','source/modules/cyd/template/images/shareBg.jpg'],
function() {
	//$('.loading').remove();
	//$('.wrap').show();
	
	//$('.loading').fadeOut(1000);
	//$('.wrap').fadeIn(1000);
	
	//animate
	$('.indexBanner,.shareBanner').show().addClass('fadeInUpBig');
	
});
	
	
	
	function shiying() {
		var win_W = $(window).width();
        var win_H = $(document).height();
		
		$('#shadow').css({
            "width": win_W,
            "height": win_H,
			"opacity":"0.8"
        });
		}
	
	$(window).resize(function() {
		shiying();
		});
	
	$('.shareBtn a').click(function() {
		shiying();
		$('.shareJt').show();
		});
	
	
	
	
	});
</script>
</body>
</html>
