{template 'common/header'}
	<script type="text/javascript" src="./resource/script/jquery.zclip.min.js"></script>

	<div class="main">
		<div class="account">
		<p>
<h4>我的账户金额:</h4>
</p>
        <div class="navbar-inner thead">
		
        <h4>
<span class="pull-left">用户余额：<font color="#FF0000">{$money['money']}</font>元</span><br>
<span class="pull-left">已使用金额：<font color="#FF0000">{$money['usemoney']}</font>元</span>
</h4>
<br/>
	</div>
		</div>
	</div>
{template 'common/footer'}
