
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="stylesheet" type="text/css" href="/source/modules/market/style/mobile/css/vvalues_crm.css?2014-01-28-1" media="all" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>优惠</title>
	 
</head>
<body>
<div class="body w">
	<section class="w-top">
		<div class="top-bg">
        </div>
		<section class="company-logo">
			<a href="{php echo $this->createMobileUrl('story', array('id' => $row['id']));}">
			<img src="{$row['logo']}" width="75" height="75" /></a>
		</section>
        <section class="company-name">
            <h1>{$row['shopname']}</h1>
        </section>
        <section class="top-menu">
			<a href="{php echo $this->createMobileUrl('classlist');}">首页</a>
			<a href="{php echo $this->createMobileUrl('story', array('id' => $_GPC['id']));}">简介</a>
			<a href="{php echo $this->createMobileUrl('fans', array('id' => $_GPC['id']));}"  >会员</a>
			<a href="{php echo $this->createMobileUrl('privilege', array('id' => $_GPC['id']));}"  class="sel">优惠</a>		
         </section>
        </section>
	<section class="w-main">
	<div class="w-coupon">
		{loop $volist $key $row}
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $row['id'],'pid'=>$row['pid']));}">
			<p>{$row['title']}</p>
			<i></i> <em>{php echo $key+1}</em>
		</a>
		{/loop}
	</div>
	</section>
    <footer>
                <div style="text-align:center;padding:10px 0;font-size:12px;line-height:20px;">
                    <a>©{$row['shopname']} by 微动力</a>
                </div>
            </footer>
</div>
</body> 
</html>
