{template 'common/header'}
{template 'common'}
<div class="main">
    <ul class="nav nav-tabs">		
        <li><a href="{php echo $this->createWebUrl('member');}">用户列表</a></li>
        <li{if $op=='edit' && empty($id)} class="active"{/if}><a href="{php echo $this->createWebUrl('member',array('op'=>'edit'));}">添加用户</a></li>
        {if $op=='edit' && !empty($id)}<li class="active"><a href="{php echo $this->createWebUrl('member',array('op'=>'edit','id'=>$id));}">编辑用户</a></li>{/if}
    </ul>
    <form action="" class="form-horizontal form" method="post" onsubmit="return formcheck()">
        <input type="hidden" name="id" value="{$item['id']}">
        <h4>用户基本信息</h4>
        <table class="tb">
              {if !empty($item)}
            <tr>
                <th>微信号：</th>
                <td>{$item['from_user']}</td>
            </tr>
            {/if}
          
            <tr>
                <th><span class="red">*</span>姓名：</th>
                <td><input type="text" name="realname" id="realname" value="{$item['realname']}" class="span3"></td>
            </tr>
            <tr>
                <th><span class="red">*</span>用户名：</th>
                <td><input type="text" name="username" id="username" value="{$item['username']}" class="span3" {if !empty($item)}readonly{/if}></td>
            </tr>
             <tr>
                <th><span class="red">*</span>手机：</th>
                <td><input type="text" name="mobile" id="mobile" value="{$item['mobile']}" class="span3"></td>
            </tr>
            
            <tr>
                <th><span class="red">*</span>{if !empty($id)}新{/if}密码：</th>
                <td><input type="password" name="password" id="password" value="" class="span3"></td>
            </tr>

            <tr>
                <th><span class="red">*</span>确认{if !empty($id)}新{/if}密码：</th>
                <td><input type="password" name="password2" id="password2" value="" class="span3"></td>
            </tr>
          {if !empty($item)}
          <tr>
                <th>订房积分：</th>
                <td><input type="text" name="score" id="score" value="{$item['score']}" class="span3"></td>
            </tr>
          {/if}
  <tr>
                <th>是否绑定微信号：</th>
                <td>    <label class="radio inline">
                    <input type="radio" name="userbind" value="1" {if $item['userbind'] == 1}checked{/if}/>绑定
                    </label>
                    <label class="radio inline">
                    <input type="radio" name="userbind" value="0" {if $item['userbind'] == 0}checked{/if}/>不绑定
                    </label>
                    <span class='help-block'>绑定之后，此账户与微信用户绑定，帐号不能从其他微信登录</span>
                    </td>
            </tr>
            <tr>
                <th>用户类型：</th>
                <td>    <label class="radio inline">
                    <input type="radio" name="isauto" class="isauto_radio" value="1" {if $item['isauto'] == 1}checked{/if}/>微信用户
                </label>
                    <label class="radio inline">
                        <input type="radio" name="isauto" class="isauto_radio" value="0" {if $item['isauto'] == 0}checked{/if}/>会员用户
                    </label>
                    <span class='help-block'>会员用户显示房型的会员价，微信用户显示房型的优惠价</span>
                </td>
            </tr>
              <tr>
                <th>状态：</th>
                <td>    <label class="radio inline">
                    <input type="radio" name="status" value="1" {if $item['status'] == 1}checked{/if}/>启用
                    </label>
                    <label class="radio inline">
                    <input type="radio" name="status" value="0" {if $item['status'] == 0}checked{/if}/>禁用
                    </label>
                    <span class='help-block'>禁用以后用户无法登录</span>
                    </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </td>
            </tr>
        </table>
    </form>
    
    <script type="text/javascript">
        //kindeditor($('.richtext-clone'));
        function formcheck() {

            var isauto = $('input[name="isauto"]:checked').val();

            if (isauto == 0) {
                if ($("#realname").isEmpty()) {
                    Tip.select("realname", "请填写姓名!", "right");
                    return false;
                }

                if ($("#username").isEmpty()) {
                    Tip.select("username", "请填写用户名!", "right");
                    return false;
                }

                if (!$("#mobile").isMobile()) {
                    Tip.select("mobile", "请填写正确的手机!", "right");
                    return false;
                }
            }

            var check_pass = 1;
            {if !empty($id)}
                if ($("#password").isEmpty() && $("#password2").isEmpty()) {
                    check_pass = 0;
                }
            {/if}

            if (check_pass) {
                if ($("#password").isEmpty()) {
                    Tip.select("password", "请填写{if !empty($id)}新{/if}密码!", "right");
                    return false;
                }
                if ($("#password2").isEmpty()) {
                    Tip.select("password2", "请填写确认{if !empty($id)}新{/if}密码!", "right");
                    return false;
                }
                if ($.trim($("#password").val()) != $.trim($("#password2").val())  ) {
                    Tip.select("password2", "两次密码不一致，请确认!", "right");
                    return false;
                }
            }

            return true;
        }
    </script>

