{template 'common/header'}
<script language='javascript' src='{php echo $this->_script_url}jquery.gcjs.js'></script>
<script language='javascript' src='{php echo $this->_script_url}jquery.form.js'></script>
<script language='javascript' src='{php echo $this->_script_url}tooltipbox.js'></script>
<div class="main">
    <ul class="nav nav-tabs">		
        <li class="active"><a href="{php echo $this->createWebUrl('order',array('op'=>'list'));}">订单管理</a></li>    
    </ul>
    <div class="search">
        <form action="site.php" method="get">
            <input type="hidden" name="act" value="module" />
            <input type="hidden" name="do" value="order" />
            <input type="hidden" name="name" value="hotel2" />	
               <input type="hidden" name="hotelid" value="{$hotel['id']}" />
                    <input type="hidden" name="roomid" value="{$room['id']}" />
            <table class="table table-bordered tb">
                <tbody>
                     <tr>
                            <td>酒店: <input class="span4" name="hoteltitle"  type="text" value="{if !empty($hotel)}{$hotel['title']}{else}{$_GPC['hoteltitle']}{/if}">
                            房型:  <input class="span4" name="roomtitle"  type="text" value="{if !empty($room)}{$room['title']}{else}{$_GPC['roomtitle']}{/if}">
                            
                            </td>
                        </tr>
                        <tr>
                            <td>
                                用户: <input class="span4" name="realname" id="" type="text" value="{$_GPC['realname']}">
                                手机: <input class="span4" name="mobile" id="" type="text" value="{$_GPC['mobile']}">
                            </td>
                        </tr>
                           <tr>
                               <td>
                                    编号: <input class="span4" name="ordersn" id="" type="text" value="{$_GPC['ordersn']}">

                                    订单状态: <select name="status" class="span2">
                                    <option value="" {if $_GPC['status']==''} selected="selected"{/if}></option>
                                    <option value="0" {if $_GPC['status']=='0'} selected="selected"{/if}>等待确认</option>
                                    <option value="-1" {if $_GPC['status'] == -1 } selected="selected"{/if}>订单取消/退款</option>

                                    <option value="1" {if $_GPC['status'] == 1 } selected="selected"{/if}>订单确认</option>

                                    <option value="2" {if $_GPC['status'] == 2 } selected="selected"{/if}>订单拒绝/退款</option>
                                    <option value="3" {if $_GPC['status'] == 3 } selected="selected"{/if}>订单完成</option>
                                    </select>

                                   支付状态: <select name="paystatus" class="span2">
                                   <option value="" {if $_GPC['paystatus'] == ''} selected="selected"{/if}></option>
                                   <option value="0" {if $_GPC['paystatus'] == '0'} selected="selected"{/if}>未支付</option>
                                   <option value="1" {if $_GPC['paystatus'] == '1'} selected="selected"{/if}>已支付</option>

                               </select>

                            </td>
                        </tr>
                     
                    <tr class="search-submit">
                        <td colspan="2"><button class="btn pull-left btn-primary span2" style='margin-left:95px;'><i class="icon-search icon-large"></i> 搜索</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div style="padding:15px;">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr><tr><th class='with-checkbox'>
                    <input type="checkbox" class="check_all" /></th>

                                    <th>订单编号</th>
                                    <th>酒店</th>
                                    <th>房型</th>
                                    <th>预定人/手机</th>
                                    <th>预定数量</th>
                                    <!--<th>单价</th>-->
                                    <th>总价</th>
                                    <th>到店时间<br/>离店时间</th>
                                    <th>支付方式<i></i></th>
                                    <th>订单时间<i></i></th>
                                    <th>订单状态<i></i></th>
                                    <th>操作<i></i></th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
               <tr>
                                   <td class="with-checkbox">
                <input type="checkbox" name="check" value="{$item['id']}"></td>
                                    <td>{$row['ordersn']}</td>
                                    <td>{$row['hoteltitle']}</td>
                                    <td>{$row['roomtitle']}</td>
                                    <td>{$row['name']}/{$row['mobile']}</td>
                                    <td>{$row['nums']}</td>
                                    <!--<td>{$row['cprice']}</td>-->
                                    <td>{$row['sum_price']}</td>
                                    <td >{php echo date("Y-m-d",$row['btime']); }<br/>{php echo date("Y-m-d",$row['etime']); }</td>
                                    <td >{if $row['paytype']==1}
                                        余额支付
                                        {else if $row['paytype']==21}
                                        微支付
                                        {else if $row['paytype']==22}
                                        支付宝
                                        {else}
                                        到店付款
                                        {/if}
                                    </td>
                                    <td >{php echo date("Y-m-d H:i:s",$row['time']); }</td>
                                    <td>
                                        {if $row['paystatus']==0}
                                        {if $row['status'] == 0}<span class="label label-info">{if $row['paytype']==1 || $row['paytype']==2}待付款{else}等待确认{/if}</span>{/if}
                                        {if $row['status'] == -1}<span class="label label-info">已取消</span>{/if}
                                        {if $row['status'] == 1}<span class="label label-success">已接受</span>{/if}
                                        {if $row['status'] == 2}<span class="label label-error">已拒绝</span>{/if}
                                        {if $row['status'] == 3}<span class="label label-success">订单完成</span>{/if}
                                        {else}
                                        {if $row['status'] == 0}<span class="label label-info">已支付,等待确认</span>{/if}
                                        {if $row['status'] == -1}<span class="label label-info">已支付,取消并退款</span>{/if}
                                        {if $row['status'] == 1}<span class="label label-success">已支付,已确认</span>{/if}
                                        {if $row['status'] == 2}<span class="label label-error">已支付, 已退款</span>{/if}
                                        {if $row['status'] == 3}<span class="label label-success">订单完成</span>{/if}
                                        {/if}
                                    </td>
                                    <td><span>
                                            <a href="{php echo $this->createWebUrl('order', array('op'=>'edit', 'id' => $row['id'], 'roomid' => $row['roomid'], 'hotelid' => $row['hotelid'])); }">操作</a>&nbsp;
                                            <a onclick="return confirm('此操作不可恢复，确认吗？');
                                                return false;" href="{php echo $this->createWebUrl('order', array('op'=>'delete', 'id' => $row['id'],'hotelid'=>$hotelid,'roomidid'=>$roomidid))}">删除</a>
                                        </span></td>
                                </tr>
                {/loop}
                <tr>
				<td colspan="12">
				
					<input type="button" class="btn btn-primary" name="deleteall" value="删除选择的" />
				</td>
			</tr>
            </tbody>
            <input name="token" type="hidden" value="{$_W['token']}" />
        </table>
        {$pager}
    </div>
</div>

<script>
$(function(){

    $(".check_all").click(function(){
       var checked = $(this).get(0).checked;
       $("input[type=checkbox]").attr("checked",checked);
    });
	$("input[name=deleteall]").click(function(){
 
		var check = $("input:checked");
		if(check.length<1){
			err('请选择要删除的记录!');
			return false;
		}
        if( confirm("确认要删除选择的记录?")){
		var id = new Array();
		check.each(function(i){
			id[i] = $(this).val();
		});
		$.post("{php echo create_url('site/module', array('do' => 'order','op'=>'deleteall', 'name' => 'hotel2'))}", {idArr:id},function(data){
			if (data.errno ==0)
			{
				location.reload();
			} else {
				alert(data.error);
			}


		},'json');
		}

	});
});
</script>
<script>
function drop_confirm(msg, url){
    if(confirm(msg)){
        window.location = url;
    }
}
</script>

{template 'common/footer'}
