{template 'header'}
<title>${sns['title']}</title>
<script language='javascript' src='./source/modules/sns/style/jquery.js'></script>
 
<script language='javascript' src='./resource/script/jquery.form.js'></script>
<script language='javascript' src='./resource/script/jquery.gcjs.js'></script>
<script language='javascript' src='./source/modules/sns/style/sns.js'></script>
<link href="./source/modules/sns/style/sns.css" rel="stylesheet" />
 <div id="header">
        <div class="base">
             <div class="base_left">
                 <div class="thumb">   {if $sns['logo']}
            <img src="{$_W['attachurl']}{$sns['logo']}" class="logo" />
            {/if}</div>
             </div>
             <div class="base_right">
                  <div class="t t1">{$sns['title']}</div>
                  <div class="t t2"><i class="icon-list-alt"></i> {$sns['postcount']} 话题 </div>
             </div>
         </div>
</div>
  {if count($list)<=0}
        
        <ul class="round">
            <li style="padding:5px;text-align:center">暂时没有任何帖子</li>
        </ul>
        {/if}
        
{loop $list $row}
<ul class="round">
    <li>
    
      
         <div class="base">
             <div class="base_left">
                 <div class="thumb">   {if $row['avatar']}
            <img src="{php echo img_url($row['avatar'])}" class="logo" />
            {/if}</div>
             </div>
             <div class="base_right">
                  <div class="t t1">{$row['nickname']}</div>
                  <div class="t t2">{php echo time_tran($row['posttime'])}</div>
             </div>
         </div>
        <div class="des">
            {$row['content']}
        </div>
          {if count($row['piclist'])>0}
        <div class='pics'>
            {loop $row['piclist'] $pic}
            <img src='{php echo img_url($pic['attachment'])}' height='50' />
            {/loop}
            
        </div>
        {/if}
        
            <div class="funcs">
                <a href="javascript:;" onclick="good('{$row['id']}')"><i class='icon-thumbs-up'></i> 顶(<span id='good_{$row['id']}'>{$row['goodcount']}</span>)</a> 
                <a href="javascript:;" onclick="reply('{$row['id']}','','{$row['nickname']}')"><i class='icon-pencil'></i> 回复</a>
        </div>
           
            <div id="reply_{$row['id']}" class='reply'  {if count($row['replies'])<=0}style='display:none'{/if} >
                
                 <div class='items'>
                {loop $row['replies'] $row1}
                <div class='item' {if $user['id']==$row1['fansid']}onclick="reply('{$row['id']}','{$row1['id']}','{$row1['nickname']}');"{/if}>
                     <div class="thumb">   {if $row1['avatar']}
                        <img src="{php echo img_url($row1['avatar'])}" class="logo" />
                        {/if}</div>
                     {if !empty($row1['tonickname'])}
                    <span>{$row1['nickname']}</span> 回复 <span>{$row1['tonickname']}</span>
                    {else}
                    <span>{$row1['nickname']}</span>
                    {/if}
                    ：{$row1['content']}
                </div>
                {/loop}
                </div>
              
                
             </div>
             
         
 
     
    </li>    </ul>
    {/loop}  
 
    <p align="center">已经显示全部回复</p>
    <div id="reply_div"></div>
    <div id="reply_div_content">
         <form action='mobile.php' method='post' id='reply_form'>
        <input type='hidden' name='act' value='module' />
        <input type='hidden' name='name' value='sns' />
        <input type='hidden' name='do' value='post' />
        <input type='hidden' name='id' value='{$id}' />
        <input type='hidden' name='weid' value='{$_W['weid']}' />
        <input type='hidden' id="replyid" name='replyid' value='' />
        <input type='hidden' id="postid" name='postid' value='' />
        <textarea id='reply_content' name='reply_content' style='width:100%;height:100px;resize:none' placeholder='回复: "+nickname + "'></textarea>
        <div style='margin-top:10px;height:35px;top:110px;'>
        <div style='float:left;margin-left: 5px;;'>
        <a id='iconEmotion' href='javascript:;' inputId='reply_content'><i class='icon-github-alt'></i> 表情</a>
        </div>
        <div style='float:right;'>
        <span id='reply_last' style='margin-right:5px;'></span>
        
        <input type='button' class='btn' id='reply_cancel' class='btn' value='取消' />
        <input type='button' class='btn btn-success' id='reply_submit' style='color:#fff;margin-left:5px;' value='发帖' />
        </div>
        </div>
        <div id="emotions" class="emotions"></div>
        </form>
        
   
</div>{$pager}
    <div class="footermenu">
        <div class="back"><a href="#" style="display:block"><i class="icon-chevron-left"></i></a></div>
        <div class="men"><a href="#" style="display:block"><i class="icon-list"></i></a></div>
        <div class="post"><a href="{php echo $this->createMobileUrl('post',array('name'=>'sns','id'=>$id))}" style="display:block"><i class="icon-edit"></i> 发帖</a></div>
        
</div>


<script language='javascript'>
    
 
$(function() {
	
        emotions('reply_content');
        
                $("#iconEmotion").click(function(e){
	    //  inputId = $(this).attr("inputId");
                      if(!eopen){
                   
                         $("#reply_div_content").css("height","275px");
                      }
                      else{
                         $("#reply_div_content").css("height","135px");
                      }
                      eopen = !eopen;
                      
                          
	});
        new Swipe($('#emotions')[0], {
		speed:500,
		auto:0,
		callback: function(){
			var lis = $(this.element).next("ol").children();
			lis.removeClass("on").eq(this.index).addClass("on");
		}
       });
        $("#reply_form").ajaxForm();
        $("#reply_content").limitLength(140,"reply_last");
        $("#reply_cancel").click(function(){
             reply_close();
        });
        $("#reply_submit").click(function(){
            
            tip("正在提交, 请稍后...",false);
            $("#reply_div_content").css("visibility","hidden");
                $("#reply_div_content").css("height","135px");
            $("#reply_form").ajaxSubmit({
           
               success:function(data){
                    data = eval('(' +data + ")");
                    if(data.result==1){
                        tip_close();
                        tip(data.msg);
                        $("#reply_div").css("visibility","hidden");
                     
                        var  html = "<div class='item'>";
                        html+='<div class="thumb"><img src="'+ data.reply.avatar +'" class="logo" /></div>';
                        if(data.reply.tonickname==''){
                            html+='<span>' + data.reply.nickname + '</span>：'  + data.reply.content +'</div>';    
                        }
                        else{
                             html+='<span>' + data.reply.nickname + ' 回复 ' + data.reply.tonickname + '</span>：'  + data.reply.content +'</div>';    
                        }
                       
                        $("#reply_" + data.postid + " .items").append(html);   
                        
                         
                    }
               }
               
           });
        });
        
});
 function more_reply(id){
        var url  = "{php echo $this->createMobileUrl('morereply',array('name'=>'sns','rid'=>$id))}" + "&id=" + id;
        tip("正在加载...");
        $.ajax({
            url:url,
            type:"get",
            dataType:"html",
            success:function(data){
                tip_close();
                $("#reply_" + id +" .funcs").hide();
                $("#reply_" + id ).html(data);
            },cache:false
        });
 }

    function good(id){
        var url  = "{php echo $this->createMobileUrl('good',array('name'=>'sns'))}" + "&id=" + id;
        $.ajax({
            url:url,
            type:"post",
            dataType:"json",
            success:function(data){
                if(data.result==1){
                    $("#good_" + id).html( data.goodcount);
                }
            }
        });
      
        
    }
    var lastid = "";
    function reply(postid,replyid,nickname){
      
        //$("#reply_div_content").show();
        //$("#reply_div").show();
        $("#reply_div_content").css("visibility","visible");
        $("#reply_div").css("visibility","visible");
        $("#emotions").css("visibility","visible");
        $("#replyid").val(replyid);
        $("#postid").val(postid);
        $("#reply_content").attr("placeholder","回复: " + nickname);
        $('#reply_content').val("");
        $('#reply_last').html("140");
       
    }
    function reply_close(){
        $("#reply_div_content").css("visibility","hidden");
        $("#reply_div").css("visibility","hidden");
        $("#emotions").css("visibility","hidden");
        $("#reply_div_content").css("height","135px");eopen =false;
    }
</script>
    <script type="text/javascript">
document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {
WeixinJSBridge.call("hideToolbar");
});
</script>
{template 'footer'}
